<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorate="~{/common/layout/layoutMenubar}">
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>공연상세페이지</title>
    <link rel="stylesheet" th:href="@{/css/performance/performanceDetail.css}">
    <link rel="stylesheet" th:href="@{/css/performance/performanceHome.css}">
    <script th:src="@{/js/performance/performance.js}"></script>



</head>
<body>

<div layout:fragment="content">
    <div class="filter-container">
        <!-- 장르 필터 -->
        <div class="genre-filter">
            <div class="genre-item">홈</div>
            <div class="genre-item">연극</div>
            <div class="genre-item">무용</div>
            <div class="genre-item">대중무용</div>
            <div class="genre-item">서양음악</div>
            <div class="genre-item">한국음악</div>
            <div class="genre-item">대중음악</div>
            <div class="genre-item">복합</div>
            <div class="genre-item">서커스/마술</div>
            <div class="genre-item">뮤지컬</div>
        </div>
        <!-- 추가 필터 -->
        <div class="extra-filter">
            <div class="extra-item" id="ranking-item">
                <img th:src="@{/img/performance/ranking.png}" alt="랭킹 아이콘" class="filter-icon">
                랭킹
            </div>
            <div class="extra-item" id="region-item">
                <img th:src="@{/img/performance/map.png}" alt="지역별 아이콘" class="filter-icon">
                지역별
            </div>
        </div>
    </div>


    <div class="top-section">
        <div class="title">Title</div>
        <div class="detail-card">
            <img class="thumbnail" src="https://via.placeholder.com/300x400" />
            <div class="star-icon">★</div>
        </div>
        <div class="calendar-section">
            <div class="calendar-header">관람일</div>
            <div class="calendar-box">
                <div class="month">May 2023</div>
                <div class="calendar">
                    <!-- 캘린더 내용 -->
                    <div class="days">
                        <div class="day">Mo</div>
                        <div class="day">Tu</div>
                        <div class="day">We</div>
                        <div class="day">Th</div>
                        <div class="day">Fr</div>
                        <div class="day">Sa</div>
                        <div class="day">Su</div>
                    </div>
                    <div class="dates">
                        <div class="date">1</div>
                        <div class="date">2</div>
                        <div class="date">3</div>
                        <div class="date">4</div>
                        <div class="date">5</div>
                        <div class="date">6</div>
                        <div class="date">7</div>
                        <div class="date">8</div>
                        <div class="date">9</div>
                        <div class="date">10</div>
                        <div class="date">11</div>
                        <div class="date">12</div>
                        <div class="date">13</div>
                        <div class="date highlight">14</div>
                        <div class="date">15</div>
                        <div class="date">16</div>
                        <div class="date">17</div>
                        <div class="date highlight">18</div>
                        <div class="date">19</div>
                        <div class="date">20</div>
                        <div class="date">21</div>
                        <div class="date">22</div>
                        <div class="date">23</div>
                        <div class="date">24</div>
                        <div class="date">25</div>
                        <div class="date">26</div>
                        <div class="date">27</div>
                        <div class="date">28</div>
                        <div class="date">29</div>
                        <div class="date">30</div>
                        <div class="date">31</div>
                        <div class="date inactive">1</div>
                        <div class="date inactive">2</div>
                        <div class="date inactive">3</div>
                        <div class="date inactive">4</div>
                    </div>
                </div>
            </div>
            <div class="showtime-section">
                <div class="showtime-title">회차</div>
                <div class="remaining-seats">남은좌석 : 100</div>
                <div class="showtime-button">1회 14:30</div>
                <div class="showtime-button">1회 19:30</div>
                <div class="book-button">
                    <div class="text">예매하기</div>
                </div>
            </div>
        </div>
    </div>
    <div class="performance-container">
        <div class="button-box">공연상세</div>
        <div class="button-box">공연장소</div>
        <div class="button-box">공연후기</div>
    </div>
    <div class="large-card">
        <div class="related-info">
            <div class="title">관련정보</div>
            <div class="content">
                공연이름<br>
                공연날짜<br>
                공연장소<br>
                출연진<br>
                런타임<br>
                제작사<br>
                가격<br>
                장르<br>
                공연상태: 공연중인지 공연종료인지<br>
                공연 관람 연령<br>
                예매처
            </div>
        </div>
    </div>
</div>

</body>
</html>