<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorate="~{/common/layout/layoutMenubar}">
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>공연상세페이지</title>
    <link rel="stylesheet" th:href="@{/css/performance/performanceDetail.css}">
    <link rel="stylesheet" th:href="@{/css/performance/performanceHome.css}">
    <script th:src="@{/js/performance/performance.js}"></script>



</head>
<body>

<div layout:fragment="content">
    <div class="filter-container">
        <!-- 장르 필터 -->
        <div class="genre-filter">
            <div class="genre-item">홈</div>
            <div class="genre-item">연극</div>
            <div class="genre-item">무용</div>
            <div class="genre-item">대중무용</div>
            <div class="genre-item">서양음악</div>
            <div class="genre-item">한국음악</div>
            <div class="genre-item">대중음악</div>
            <div class="genre-item">복합</div>
            <div class="genre-item">서커스/마술</div>
            <div class="genre-item">뮤지컬</div>
        </div>
        <!-- 추가 필터 -->
        <div class="extra-filter">
            <div class="extra-item" id="ranking-item">
                <img th:src="@{/img/performance/ranking.png}" alt="랭킹 아이콘" class="filter-icon">
                랭킹
            </div>
            <div class="extra-item" id="region-item">
                <img th:src="@{/img/performance/map.png}" alt="지역별 아이콘" class="filter-icon">
                지역별
            </div>
        </div>
    </div>



    <div class="container">
    <div class="top-section">
        <div class="detail-card">
            <img class="thumbnail" src="https://via.placeholder.com/300x400" />
            <div class="star-icon">★</div>
        </div>
        <div class="info-section">
            <div class="title">공연명</div>
            <div class="info-section-content">
                <div class="info-location">공연장소</div>
                <div class="info-date">공연기간</div>
                <div class="info-runtime">관람시간</div>
                <div class="info-age">관람등급</div>
                <div class="info-genre">장르</div>
                <div class="info-ticketbutton">예매하기</div>
            </div>
        </div>
    </div>
    <div class="performance-container">
        <div class="button-box">공연상세</div>
        <div class="button-box">공연장소</div>
        <div class="button-box">공연후기</div>
    </div>
    <div class="large-card">
        <div class="related-info">
            <div class="title">관련정보</div>
            <div class="content">
                공연이름<br>
                공연날짜<br>
                공연장소<br>
                출연진<br>
                런타임<br>
                제작사<br>
                가격<br>
                장르<br>
                공연상태<br>
                공연 관람 연령<br>
                예매처
            </div>
        </div>
    </div>
    </div>
</div>

</body>
</html>