<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorate="~{/common/layout/layoutMenubar}">
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>지역별 페이지</title>
  <link rel="stylesheet" th:href="@{/css/performance/performanceRanking.css}">
  <script th:src="@{/js/performance/performance.js}"></script>



  <script th:inline="javascript">
    document.addEventListener('DOMContentLoaded', function() {


        const cards = document.querySelectorAll('.location-card');
        cards.forEach(card => {
            card.addEventListener('click', function() {
                const performanceCode = this.getAttribute('data-performance-code');
                const source = this.getAttribute('data-source');
                window.location.href = `/performance/performanceDetail?performanceCode=${encodeURIComponent(performanceCode)}&source=${encodeURIComponent(source)}`;
            });
        });
    });
  </script>



</head>
<body>

<div layout:fragment="content">

  <div class="filter-container">
    <!-- 장르 필터 -->
    <div class="genre-filter">
      <div class="genre-item">추천</div>
      <div class="genre-item">연극</div>
      <div class="genre-item">무용</div>
      <div class="genre-item">대중무용</div>
      <div class="genre-item">서양음악</div>
      <div class="genre-item">한국음악</div>
      <div class="genre-item">대중음악</div>
      <div class="genre-item">복합</div>
      <div class="genre-item">서커스/마술</div>
      <div class="genre-item">뮤지컬</div>
    </div>
    <!-- 추가 필터 -->
    <div class="extra-filter">
      <div class="extra-item" id="ranking-item">
        <img th:src="@{/img/performance/ranking.png}" alt="랭킹 아이콘" class="filter-icon">
        랭킹
      </div>
      <div class="extra-item" id="region-item">
        <img th:src="@{/img/performance/map.png}" alt="지역별 아이콘" class="filter-icon">
        지역별
      </div>
    </div>
  </div>

  <div class="ranking"><br><br>
    <div class="ranking-title">지역별 공연</div>
  </div>

  <div class="location-filter">
    <div class="location-item">전체</div>
    <div class="location-item">서울</div>
    <div class="location-item">경기</div>
    <div class="location-item">인천</div>
    <div class="location-item">강원</div>
    <div class="location-item">대전</div>
    <div class="location-item">충청</div>
    <div class="location-item">부산</div>
    <div class="location-item">대구</div>
    <div class="location-item">울산</div>
    <div class="location-item">경상</div>
    <div class="location-item">광주</div>
    <div class="location-item">전라</div>
    <div class="location-item">제주</div>

  </div>

  <div class="performance-container">
    <div class="location-card" th:each="performance : ${performances}" th:data-performance-code="${performance.code}" th:data-source="db">
      <img class="location-image" th:src="${performance.imageMain}" alt="공연 이미지"/>
      <div class="location-info">
        <div class="location-title" th:text="${performance.title}">공연 타이틀</div>
        <div class="location-location" th:text="${performance.location}">공연 장소</div>
        <div class="location-date" th:text="${performance.formattedDate}">공연 기간</div>

      </div>
    </div>
  </div>

</div>

</body>
</html>
