<!--performanceHome.html-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorate="~{/common/layout/layoutMenubar}">
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>공연</title>
    <link rel="stylesheet" th:href="@{/css/performance/performanceHome.css}">
    <link rel="stylesheet" th:href="@{/css/performance/performanceAllList.css}">

    <script th:src="@{/js/performance/performance.js}"></script>

</head>

<body>

<div layout:fragment="content">

    <div class="filter-container"> <!-- 필터 컨테이너 추가 -->
        <div class="genre-filter">
            <div class="genre-item">추천</div>
            <div class="genre-item">연극</div>
            <div class="genre-item">무용</div>
            <div class="genre-item">대중무용</div>
            <div class="genre-item">서양음악</div>
            <div class="genre-item">한국음악</div>
            <div class="genre-item">대중음악</div>
            <div class="genre-item">복합</div>
            <div class="genre-item">서커스/마술</div>
            <div class="genre-item">뮤지컬</div>
        </div>
        <div class="extra-filter">
            <div class="extra-item" id="ranking-item">
                <img th:src="@{/img/performance/ranking.png}" alt="랭킹 아이콘" class="filter-icon">
                랭킹
            </div>
            <div class="extra-item" id="region-item">
                <img th:src="@{/img/performance/map.png}" alt="지역별 아이콘" class="filter-icon">
                지역별
            </div>
        </div>


    </div>




    <!-- 추천 목록 -->
    <div class="recommend">
        <br><br>
        <h2 th:text="${user.userName} + '님 이런 작품은 어때요?'" style="font-size: 26px;font-weight: 600;"></h2>
        <br><br>


        <div class="recommend-items" th:if="${recommends != null}">
            <div th:each="performance : ${recommends}">
                <a th:href="@{'/performance/performanceDetail?performanceCode=' + ${performance.code} + '&source=db'}">
                    <div class="all-card" th:data-performance-code="${performance.code}">
                        <img th:src="${performance.imageMain}" alt="공연 이미지">

                        <!-- 좋아요 및 싫어요 버튼 -->
                        <div class="like-dislike-container">
                            <img id="likeBtn" src="https://kr.object.ncloudstorage.com/team3/common/upNo.png" alt="Like" class="like-dislike-icon">
                            <img id="dislikeBtn" src="https://kr.object.ncloudstorage.com/team3/common/downNo.png" alt="Dislike" class="like-dislike-icon">
                        </div>


                    </div>
                    <div class="all-performance-info">
                        <div class="all-title" th:text="${performance.title}">공연명</div>
                        <div class="all-location" th:text="${performance.location}">공연장소</div>
                        <div class="all-date" th:text="${performance.formattedDate}">공연날짜</div>
                    </div>
                </a>
            </div>
        </div>

        <div th:if="${recommends == null}">
            <p>추천목록이 없습니다.</p>
        </div>

    </div>



</div>

</body>
</html>