<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml">
<html layout:decorate="~{common/layout/layoutMenubar}">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/festival/festivalDetail.css}">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script th:src="@{/js/festival/festivalDetail.js}"></script>
    <script th:inline="javascript">

    $(document).ready(
        function(){

            // 전역변수 선언

            var festival = [[${festival}]];
            var festivalId = festival.festivalId;
            var regionId = festival.regionId;
            var season = festival.season;
            var manageInstitution = festival.manageInstitution;
            var festivalName = festival.festivalName;
            var userId = [[${userId}]];



            //#region 찜 / 관심없음 관련 함수


            /**
            * 찜하기 / 찜 취소하기 버튼
            *
            */
            $(document).on('click','.heart', function(){

                var button = $(this);
                var festivalId = $(this).val();

                if(button.closest(".card").hasClass("hasLove")){

                    $.ajax({

                        url: '/festival/deleteUserLoveFestival?festivalId=' + festivalId,
                        method: 'POST',
                        contentType: 'application/json',
                        success: function(res){
                            alert(res);
                            button.closest('.card').removeClass("hasLove");
                        },
                        error: function(xhr, status, error){

                            alert('error : ',error);

                        }
                    })

                }else{

                    if(button.closest(".card").hasClass("hasHate")){
                        button.closest(".card").find(".hate").click();
                    }


                    $.ajax({

                        url: '/festival/insertUserLoveFestival?festivalId=' + festivalId,
                        method: 'POST',
                        contentType: 'application/json',
                        success: function(res){

                            alert(res);
                            button.closest(".card").addClass("hasLove");
                            console.log("addClass('hasLove');")


                        },
                        error: function(xhr, status, error){

                         alert('error : ',error);

                        }

                    })


                }

            })


            /**
            * 찜 리스트 찾아서 색 바꾸기
            *
            */
            function findLoveList(){

                var cardList = document.querySelectorAll(".card");

                $.ajax({

                    url: '/festival/findLoveList',
                    method: 'POST',
                    contentType: 'application/json',
                    success: function(list){

                        console.log(list);
                        $.each(cardList, function(index, card){

                            console.log("card.getAttribute('value')")
                            console.log(card.getAttribute('value'));

                            var cardString = card.getAttribute('value');
                            var cardInt = parseInt(cardString, 10);

                            if(list.includes(cardInt)){

                                $(card).addClass("hasLove");

                            }
                        })
                    }
                })

            }






           /**
            * 관심없음 하기 / 관심없음 취소하기 버튼
            *
            */
            $(document).on('click','.hate', function(){

                var button = $(this);
                var festivalId = $(this).val();

                if(button.closest(".card").hasClass("hasHate")){

                    $.ajax({

                        url: '/festival/deleteUserHateFestival?festivalId=' + festivalId,
                        method: 'POST',
                        contentType: 'application/json',
                        success: function(res){
                            alert(res);
                            button.closest('.card').removeClass("hasHate");
                        },
                        error: function(xhr, status, error){

                            alert('error : ',error);

                        }
                    })

                }else{

                    if(button.closest(".card").hasClass("hasLove")){
                        button.closest(".card").find(".heart").click();
                    }

                    $.ajax({

                        url: '/festival/insertUserHateFestival?festivalId=' + festivalId,
                        method: 'POST',
                        contentType: 'application/json',
                        success: function(res){

                            alert(res);
                            button.closest(".card").addClass("hasHate");
                            console.log("addClass('hasHate');")


                        },
                        error: function(xhr, status, error){

                         alert('error : ',error);

                        }

                    })


                }





            })


            /**
            * 관심없음 리스트 찾아서 색 바꾸기
            *
            */
            function findHateList(){

                var cardList = document.querySelectorAll(".card");

                $.ajax({

                    url: '/festival/findHateList',
                    method: 'POST',
                    contentType: 'application/json',
                    success: function(list){

                        console.log(list);
                        $.each(cardList, function(index, card){

                            console.log("card.getAttribute('value')")
                            console.log(card.getAttribute('value'));

                            var cardString = card.getAttribute('value');
                            var cardInt = parseInt(cardString, 10);

                            if(list.includes(cardInt)){

                                $(card).addClass("hasHate");

                            }
                        })
                    }
                })

            }



            findLoveList();
            findHateList();




            //#region 왼쪽 디테일 카드 관련 함수

            /**
            * 컨텐트 키워드 가져와서 넣어주기
            * @param {int} festivalId 축제 아이디
            *
            */
            function findContentKeywordList(festivalId){

                $.ajax({

                    url: '/festival/findContentKeywordListByFestivalId?festivalId=' + festivalId,
                    method: 'POST',
                    contentType: 'application/json',
                    success: function(list){

                        $('div#contentKeyword').html("");

                        console.log(list);
                        $.each(list, function(index, keyword){

                            var keywordHtml = `<button class="keyword contentKeyword">${keyword.festivalKeywordId}</button>`;
                            $('#contentKeyword').append(keywordHtml);

                        })

                    }

                })

            }

            findContentKeywordList(festivalId);


            /**
            * 컨텐트 키워드 가져와서 넣어주기
            * @param {int} festivalId 축제 아이디
            *
            */
            function findTimeIdByFestivalId(festivalId){

                $.ajax({

                    url: '/festival/findTimeIdByFestivalId?festivalId=' + festivalId,
                    method: 'POST',
                    contentType: 'application/json',
                    success: function(time){

                        $('div#timeId').html("");

                        var timeHtml = `<p>시간대 : ${time.timeDescription}</p>`;
                        $('div#timeId').append(timeHtml);

                    }

                })

            }

            findTimeIdByFestivalId(festivalId);

            //#endregion




            //#region 오른쪽 리뷰 관련 함수

            /**
            * 페이지당 리뷰 리스트 가져와서 넣어주기
            * @param {int} festivalId 축제아이디
            * @param {int} userId 유저아이디
            * @param {int} page 페이지
            */
            function findFestivalReviewListByVWUserReviewDTO(festivalId, userId, page){

                $.ajax({

                    url: '/festival/findFestivalReviewListByVWUserReviewDTO?festivalId=' + festivalId + "&page=" + page,
                    method: 'POST',
                    contentType: 'application/json',
                    success: function(list){

                        $('#reviewList').html("");

                        console.log(list);
                        $.each(list, function(index, review){

                            var index1 = (index + 1) + (page-1)*5;

                            var reviewHtml = ``;
                            var profilePic = ``;
                            var attachment = ``;

                            var reviewUserId = review.userId;

                            if((review.userProfilePic == null) || (review.userProfilePic == "")){

                                 profilePic = `
                                 <td class="userProfilePic" style="width: 100px">
                                    <img src="/img/festival/noPhoto.png" style="height: 50px;">
                                 </td>
                                `


                            }else{

                                profilePic = `
                                <td class="userProfilePic" style="width: 100px">
                                    <img src="${review.userProfilePic}" height="50px">
                                </td>
                                `
                            }



                            if((review.attachment == null) || (review.attachment == "")){

                                attachment = `
                                <td style="width: 100px">
                                    <img src="/img/festival/noPhoto.png" style="height: 50px;">
                                </td>
                                `

                            }else{

                                attachment = `
                                <td style="width: 100px">
                                    <img src="${review.attachment}" height="50px">
                                </td>
                                `

                            }


                            if(userId == reviewUserId){

                                 reviewHtml = `

                                    <tr class="reviewRow" id="review.festivalReviewId">

                                        <td class="index1" style="width: 100px">
                                            ${index1}
                                        </td>` +

                                        profilePic

                                        +

                                        `<td class="reviewUserName" style="width: 100px">
                                            ${review.userName}
                                        </td>

                                        <td style="width: 100px">
                                            <img src="/img/festival/star.png" height="25px">&nbsp;&nbsp;<input class="reviewStar" type="number" step="0.5" value="${review.festivalReviewStar}" max="5" min="0" style="width: 45px; height: 45px; text-align: center;">
                                        </td>

                                        <td style="width: 100px">
                                        <textarea class="reviewText" rows="2" cols="100" style="text-align: center;">${review.festivalReviewContent}</textarea>
                                        </td>`

                                        +

                                        attachment

                                        +

                                        `<td style="width: 100px">
                                            <button class="updateBtn" value="${review.festivalReviewId}">수정</button>
                                        </td>

                                        <td style="width: 100px">
                                            <button class="deleteBtn" value="${review.festivalReviewId}">삭제</button>
                                        </td>

                                    </tr>
                                 `;

                            }else{

                                reviewHtml = `

                                    <tr class="reviewRow" id="review.festivalReviewId">

                                        <td class="index1" style="width: 15px">
                                            ${index1}
                                        </td>`

                                        +

                                        profilePic

                                        +

                                        `<td class="reviewUserName" style="width: 100px">
                                            ${review.userName}
                                        </td>

                                        <td style="width: 100px">
                                            <img src="/img/festival/star.png" height="25px">&nbsp;&nbsp;<span class="reviewStar" value="${review.festivalReviewStar}" style="width: 30px; height: 30px">${review.festivalReviewStar}</span>
                                        </td>

                                        <td style="width: 500px">
                                            <p class="reviewText" rows="2" cols="100">${review.festivalReviewContent}</p>
                                        </td>`

                                        +

                                        attachment

                                        +

                                        `<td style="width: 100px">
                                        </td>

                                        <td style="width: 100px">
                                        </td>

                                    </tr>
                                 `;

                            }





                            $('#reviewList').append(reviewHtml);

                        })

                    }

                })

            }

            findFestivalReviewListByVWUserReviewDTO(festivalId,userId, 1);


            /**
            * 전체 리뷰 페이지 버튼 만들기
            * @param {int} festivalId 축제아이디
            *
            */
            function findFestivalReviewCountByVWUserReviewDTO(festivalId){

                $.ajax({

                    url: '/festival/findFestivalReviewCountByVWUserReviewDTO?festivalId=' + festivalId,
                    method: 'POST',
                    contentType: 'application/json',
                    success: function(count){

                        $('#reviewPages').html("");

                        var pages = 0;

                        if(count % 5 == 0){
                            pages = count / 5;
                        }else{
                            pages = count / 5 + 1;
                        }

                        for(var p=1; p<=pages; p++){

                            $('#reviewPages').append(`<button class="pageBtn1">${p}</button>`)

                        }


                    }

                })
            }


            findFestivalReviewCountByVWUserReviewDTO(festivalId);


            /**
           * 리뷰 페이지 버튼에 해당 페이지의 순서에 해당하는 데이터 보이는 클릭 이벤트 추가
           */
            $(document).on('click','.pageBtn1', function(){

                const page = $(this).text();
                findFestivalReviewListByVWUserReviewDTO(festivalId, userId, page);

            })


            /**
            * 리뷰를 테이블에 담고 이미지는 프로젝트 폴더에 저장함
            * @param {int} festivalId 축제아이디
            *
            */
            $(document).on('click','#reviewInsertBtn', function(festivalId){

                var formData = new FormData($('#reviewForm')[0]);

                $.ajax({

                    url: '/festival/insertFestivalReview',
                    method: 'POST',
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function(){

                        $('#reviewTextArea').val("");
                        $('#reviewStar').val(0);
                        alert("리뷰 제출 성공");

                        findFestivalReviewListByVWUserReviewDTO(festivalId,userId, 1);
                    },
                    error: function(error){
                        alert(error);
                    }
                })
            })



            /**
            * 리뷰 삭제
            *
            */
            $(document).on('click','.deleteBtn', function(){

                var festivalReviewId = $(this).val();

                $.ajax({

                    url: '/festival/deleteFestivalReviewByReviewId?festivalReviewId=' + festivalReviewId,
                    method: 'POST',
                    contentType: 'application/json',
                    success: function(res){

                        alert(res);

                        findFestivalReviewListByVWUserReviewDTO(festivalId,userId, 1);



                    }
                })
            })




            /**
            * 리뷰 수정
            *
            */
            $(document).on('click','.updateBtn', function(){

                var festivalReviewId = $(this).val();
                var button = $(this);

                var reviewText =  button.closest('.reviewRow').find('.reviewText').val();
                var reviewStar =  button.closest('.reviewRow').find('.reviewStar').val();

                $.ajax({

                    url: '/festival/updateFestivalReview',
                    method: 'POST',
                    data: {

                        festivalReviewId: festivalReviewId,
                        reviewText: reviewText,
                        reviewStar: reviewStar

                    },
                    success: function(res){

                        alert(res);

                        findFestivalReviewListByVWUserReviewDTO(festivalId,userId, 1);



                    }
                })
            })


            //#endregion



            //#region 아래 축제 추천 리스트 관련 함수


            /**
            * 해당 축제를 제외한 같은 지역의 축제의 리스트 가져오기
            * @param {int} festivalId 축제아이디
            * @param {int} regionId 지역아이디
            */
            function findSameRegionFestivalByRegionId(festivalId, regionId){

                $.ajax({

                    url: '/festival/findSameRegionFestivalByRegionId',
                    method: 'POST',
                    data: {
                        festivalId: festivalId,
                        regionId: regionId
                    },
                    success: function(list){

                        $('#recommendCardList').html("");

                        $.each(list, function(index, festival){

                            var content = festival.festivalContent.length > 30?
                            festival.festivalContent.substring(0,30) + "..."
                            : festival.festivalContent;

                            var inst1 = festival.manageInstitution.length > 15?
                            festival.manageInstitution.substring(0,15) + "..."
                            : festival.manageInstitution;

                            var inst2 = festival.hostInstitution.length > 15?
                            festival.hostInstitution.substring(0,15) + "..."
                            : festival.hostInstitution;

                            var inst3 = festival.sponserInstitution.length > 15?
                            festival.sponserInstitution.substring(0,15) + "..."
                            : festival.sponserInstitution;

                            var start = festival.startDate.length >0?
                            festival.startDate.substring(0,10):
                            "없음";

                            var end = festival.endDate.length >0?
                            festival.endDate.substring(0,10):
                            "없음";

                            var firstHtml= ``;

                            if(! festival.imgUrl || festival.imgUrl == "null"){

                                firstHtml = `
                                    <div class="card recommendCard" style="width: 18rem;" id="${festival.festivalId}" value="${festival.festivalId}">
                                        <img class="card-img-top" src="/img/festival/noPhoto.png" alt="Card image cap" style="min-width: 380px; min-height: 400px;">

                                `;

                            }else{

                                firstHtml = `
                                    <div class="card recommendCard" style="width: 18rem;" id="${festival.festivalId}" value="${festival.festivalId}">
                                        <img class="card-img-top" src="${festival.imgUrl}" alt="Card image cap" style="min-width: 380px; min-height: 400px;">

                                `;

                            }


                            var secondHtml = `
                                <div class="card-body">
                                      <h5 class="card-title">${festival.festivalName}</h5>
                                      <p class="card-text">${content}</p>
                                      <div>
                                          <a href="/festival/festival-detail?festivalId=${festival.festivalId}" class="btn btn-primary">자세히</a>
                                          <button class="btn btn-primary heart" type="button" style="margin:0px" value="${festival.festivalId}">
                                              <img src="/img/festival/heart.png"
                                                   style="width : 20px; height: 20px;">
                                          </button>
                                          <button class="btn btn-primary hate" type="button" style="margin:0px" value="${festival.festivalId}">
                                                <img src="/img/festival/trash.png"
                                                     style="width : 20px; height: 20px;">
                                          </button>
                                      </div>
                                </div>

                            </div>
                            `;


                            var finalHtml = firstHtml + secondHtml;

                            $('#recommendCardList').append(finalHtml);

                            findLoveList();
                            findHateList();



                        })

                    }

                })

            }




            /**
            * 같은 지역 추천 리스트 버튼 클릭 이벤트 함수
            *
            */
            $(document).on('click','#regionRecommend', function(){

                var regionId = $(this).val();
                findSameRegionFestivalByRegionId(festivalId, regionId);

            })


            // 초기 화면에 같은 지역 추천 보이게 하기
            findSameRegionFestivalByRegionId(festivalId, regionId);




            /**
            * 해당 축제를 제외한 같은 계절의 축제의 리스트 가져오기
            * @param {int} festivalId 축제아이디
            * @param {string} season 계절
            */
            function findSameSeasonFestivalBySeason(festivalId, season){

                $.ajax({

                    url: '/festival/findSameSeasonFestivalBySeason',
                    method: 'POST',
                    data: {
                        festivalId: festivalId,
                        season: season
                    },
                    success: function(list){

                        $('#recommendCardList').html("");

                        $.each(list, function(index, festival){

                            var content = festival.festivalContent.length > 30?
                            festival.festivalContent.substring(0,30) + "..."
                            : festival.festivalContent;

                            var inst1 = festival.manageInstitution.length > 15?
                            festival.manageInstitution.substring(0,15) + "..."
                            : festival.manageInstitution;

                            var inst2 = festival.hostInstitution.length > 15?
                            festival.hostInstitution.substring(0,15) + "..."
                            : festival.hostInstitution;

                            var inst3 = festival.sponserInstitution.length > 15?
                            festival.sponserInstitution.substring(0,15) + "..."
                            : festival.sponserInstitution;

                            var start = festival.startDate.length >0?
                            festival.startDate.substring(0,10):
                            "없음";

                            var end = festival.endDate.length >0?
                            festival.endDate.substring(0,10):
                            "없음";

                            var firstHtml= ``;

                            if(! festival.imgUrl || festival.imgUrl == "null"){

                                firstHtml = `
                                    <div class="card recommendCard" style="width: 18rem;" id="${festival.festivalId}" value="${festival.festivalId}">
                                        <img class="card-img-top" src="/img/festival/noPhoto.png" alt="Card image cap" style="min-width: 380px; min-height: 400px;">

                                `;

                            }else{

                                firstHtml = `
                                    <div class="card recommendCard" style="width: 18rem;" id="${festival.festivalId}" value="${festival.festivalId}">
                                        <img class="card-img-top" src="${festival.imgUrl}" alt="Card image cap" style="min-width: 380px; min-height: 400px;">

                                `;

                            }


                            var secondHtml = `
                                <div class="card-body">
                                      <h5 class="card-title">${festival.festivalName}</h5>
                                      <p class="card-text">${content}</p>
                                      <div>
                                          <a href="/festival/festival-detail?festivalId=${festival.festivalId}" class="btn btn-primary">자세히</a>
                                          <button class="btn btn-primary heart" type="button" style="margin:0px" value="${festival.festivalId}">
                                              <img src="/img/festival/heart.png"
                                                   style="width : 20px; height: 20px;">
                                          </button>
                                          <button class="btn btn-primary hate" type="button" style="margin:0px" value="${festival.festivalId}">
                                                <img src="/img/festival/trash.png"
                                                     style="width : 20px; height: 20px;">
                                          </button>
                                      </div>
                                </div>

                            </div>
                            `;


                            var finalHtml = firstHtml + secondHtml;

                            $('#recommendCardList').append(finalHtml);

                            findLoveList();
                            findHateList();



                        })

                    }

                })

            }




            /**
            * 같은 계절 추천 리스트 버튼 클릭 이벤트 함수
            *
            */
            $(document).on('click','#seasonRecommend', function(){

                var season = $(this).val();
                findSameSeasonFestivalBySeason(festivalId, season);

            })



            /**
            * 해당 축제를 제외한 같은 주체기관의 축제의 리스트 가져오기
            * @param {int} festivalId 축제아이디
            * @param {manageInstitution} manageInstitution 주체기관
            */
            function findSameManageFestivalByManageInstitution(festivalId, manageInstitution){

                $.ajax({

                    url: '/festival/findSameManageFestivalByManageInstitution',
                    method: 'POST',
                    data: {
                        festivalId: festivalId,
                        manageInstitution: manageInstitution
                    },
                    success: function(list){

                        $('#recommendCardList').html("");

                        $.each(list, function(index, festival){

                            var content = festival.festivalContent.length > 30?
                            festival.festivalContent.substring(0,30) + "..."
                            : festival.festivalContent;

                            var inst1 = festival.manageInstitution.length > 15?
                            festival.manageInstitution.substring(0,15) + "..."
                            : festival.manageInstitution;

                            var inst2 = festival.hostInstitution.length > 15?
                            festival.hostInstitution.substring(0,15) + "..."
                            : festival.hostInstitution;

                            var inst3 = festival.sponserInstitution.length > 15?
                            festival.sponserInstitution.substring(0,15) + "..."
                            : festival.sponserInstitution;

                            var start = festival.startDate.length >0?
                            festival.startDate.substring(0,10):
                            "없음";

                            var end = festival.endDate.length >0?
                            festival.endDate.substring(0,10):
                            "없음";

                            var firstHtml= ``;

                            if(! festival.imgUrl || festival.imgUrl == "null"){

                                firstHtml = `
                                    <div class="card recommendCard" style="width: 18rem;" id="${festival.festivalId}" value="${festival.festivalId}">
                                        <img class="card-img-top" src="/img/festival/noPhoto.png" alt="Card image cap" style="min-width: 380px; min-height: 400px;">

                                `;

                            }else{

                                firstHtml = `
                                    <div class="card recommendCard" style="width: 18rem;" id="${festival.festivalId}" value="${festival.festivalId}">
                                        <img class="card-img-top" src="${festival.imgUrl}" alt="Card image cap" style="min-width: 380px; min-height: 400px;">

                                `;

                            }


                            var secondHtml = `
                                <div class="card-body">
                                      <h5 class="card-title">${festival.festivalName}</h5>
                                      <p class="card-text">${content}</p>
                                      <div>
                                          <a href="/festival/festival-detail?festivalId=${festival.festivalId}" class="btn btn-primary">자세히</a>
                                          <button class="btn btn-primary heart" type="button" style="margin:0px" value="${festival.festivalId}">
                                              <img src="/img/festival/heart.png"
                                                   style="width : 20px; height: 20px;">
                                          </button>
                                          <button class="btn btn-primary hate" type="button" style="margin:0px" value="${festival.festivalId}">
                                                <img src="/img/festival/trash.png"
                                                     style="width : 20px; height: 20px;">
                                          </button>
                                      </div>
                                </div>

                            </div>
                            `;


                            var finalHtml = firstHtml + secondHtml;

                            $('#recommendCardList').append(finalHtml);

                            findLoveList();
                            findHateList();



                        })

                    }

                })

            }




            /**
            * 같은 주체기관 추천 리스트 버튼 클릭 이벤트 함수
            *
            */
            $(document).on('click','#manageInstRecommend', function(){

                var manageInstitution = $(this).val();
                findSameManageFestivalByManageInstitution(festivalId, manageInstitution);

            })

            //#endregion



            //#region 관련 유튜브 추천 부분


            /**
            * 해당 축제의 이름과 관련된 유튜브를 페이지 번호에 따라 가져오기
            * @param {string} festivalName 축제 이름
            * @param {int} page 유튜브 페이지
            */
            function findFestivalYoutube(page, festivalName){

                $.ajax({

                    url: '/festival/findFestivalYoutube',
                    method: 'POST',
                    data: {
                        page: page,
                        festivalName: festival.festivalName
                    },
                    success: function(youtubeId){

                        $('#players').html("");

                        var youtubeHtml = `
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/`
                            +  youtubeId  +
                            `" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>`;

                        $('#players').html(youtubeHtml);


                    }
                })
            }

            findFestivalYoutube(1, festivalName);

            /**
            * 유투브 페이지 버튼 추가
            * @param {int} numbers 유튜브 페이지 숫자
            */
            function findYoutubePageBtns(numbers){

                $('#youtubePages').html("");

                for(var p=1; p<=numbers; p++){

                        $('#youtubePages').append(`<button class="youtubeBtn">${p}</button>`)

                }
            }

            findYoutubePageBtns(5);


            /**
            * 같은 주체기관 추천 리스트 버튼 클릭 이벤트 함수
            *
            */
            $(document).on('click','.youtubeBtn', function(){

                var page = $(this).text();
                findFestivalYoutube(page, festivalName);

            })





            //#endregion




        }
    )








    </script>
</head>
<body>

<div layout:fragment="content">

    <div id="columnFlow" style="width:100%">

        <div id="upperZone">

            <div id="detailCardZone">

                <div class="card" id="detailCard" style="width: 18rem;" th:value="${festival.festivalId}">

                    <div th:switch="${festival.imgUrl}">

                        <img th:case="''" class="card-img-top" src="/img/festival/noPhoto.png" alt="이미지가 없습니다">
                        <img th:case="'null'" class="card-img-top" src="/img/festival/noPhoto.png" alt="이미지가 없습니다">
                        <img th:case="null" class="card-img-top" src="/img/festival/noPhoto.png" alt="이미지가 없습니다">
                        <img th:case="*" class="card-img-top" th:src="@{${festival.imgUrl}}" alt="이미지가 없습니다">

                    </div>


                    <div class="card-body" style="width:100%">

                        <h1 class="card-title" th:text="${festival.festivalName}"></h1>

                        <div id="keywordZone" style="width:100%">

                            <div id="contentKeyword" style="width:100%">
                            </div>

                            <div id="naverKeyword" style="width:100%">
                                네이버 키워드
                                <button class="keyword naverKeyword">2산수유</button><button class="keyword naverKeyword">산수유</button><button class="keyword naverKeyword">산수유</button><button class="keyword naverKeyword">산수유</button>
                            </div>

                        </div>

                        <div th:switch="${festival.detailAddress}">

                            <p th:case="''"></p>
                            <p th:case="'null'"></p>
                            <p th:case="null"></p>
                            <p th:case="*" th:text="'주소 : '+${festival.detailAddress}"></p>

                        </div>


                        <div th:switch="${festival.season}">

                            <p th:case="''"></p>
                            <p th:case="'null'"></p>
                            <p th:case="null"></p>
                            <p th:case="*" th:text="'계절 : '+${festival.season}"></p>

                        </div>


                        <div th:switch="${festival.formattedStart}">
                            <p th:case="''"></p>
                            <p th:case="'null'"></p>
                            <p th:case="null"></p>
                            <p th:case="*" th:text="'시작일 : '+${festival.formattedStart}"></p>

                        </div>

                        <div th:switch="${festival.formattedEnd}">
                            <p th:case="''"></p>
                            <p th:case="'null'"></p>
                            <p th:case="null"></p>
                            <p th:case="*" th:text="'종료일 : '+${festival.formattedEnd}"></p>

                        </div>

                        <div th:value="${festival.timeId}" id="timeId">

                            <p> 시간대 자세한 설명 ajax</p>

                        </div>

                        <div th:switch="${festival.manageInstitution}">

                            <p th:case="''"></p>
                            <p th:case="'null'"></p>
                            <p th:case="null"></p>
                            <p th:case="*" th:text="'주체기관 : '+${festival.manageInstitution}"></p>

                        </div>


                        <div th:switch="${festival.hostInstitution}">

                            <p th:case="''"></p>
                            <p th:case="'null'"></p>
                            <p th:case="null"></p>
                            <p th:case="*" th:text="'주관기관 : '+${festival.hostInstitution}"></p>

                        </div>


                        <div th:switch="${festival.sponserInstitution}">

                            <p th:case="''"></p>
                            <p th:case="'null'"></p>
                            <p th:case="null"></p>
                            <p th:case="*" th:text="'후원기관 : '+${festival.sponserInstitution}"></p>

                        </div>


                        <div th:switch="${festival.homepageUrl}">

                            <a th:case="''"></a>
                            <a th:case="'null'"></a>
                            <a th:case="null"></a>
                            <a th:if="${!festival.homepageUrl.startsWith('https') and !festival.homepageUrl.startsWith('http') and !festival.homepageUrl.startsWith('www')}"></a>
                            <a th:if="${festival.homepageUrl.startsWith('https') or festival.homepageUrl.startsWith('http') or festival.homepageUrl.startsWith('www')}" th:href="@{${festival.homepageUrl}}">홈페이지</a>

                        </div>

                        <div th:switch="${festival.place}">

                            <p th:case="''"></p>
                            <p th:case="'null'"></p>
                            <p th:case="null"></p>
                            <p th:case="*" th:text="'장소 : '+${festival.place}"></p>

                        </div>

                        <div th:switch="${festival.tel}">

                            <p th:case="''"></p>
                            <p th:case="'null'"></p>
                            <p th:case="null"></p>
                            <p th:case="*" th:text="'전화번호 : '+${festival.tel}"></p>

                        </div>


                        <p class="card-text" th:text="${festival.festivalContent}"></p>

                        <div id="buttonZone">

                            <button class="btn btn-primary heart" type="button" style="margin:0.5%" th:value="${festival.festivalId}">
                                <img src="/img/festival/heart.png"
                                     style="width : 20px; height: 20px;">
                            </button>
                            <button class="btn btn-primary hate" type="button" style="margin:0.5%" th:value="${festival.festivalId}">
                                <img src="/img/festival/trash.png"
                                     style="width : 20px; height: 20px;">
                            </button>

                        </div>
                    </div>
                </div>


            </div>



            <div id="rightZone">

                <div id="review" style="width: 100%">
                    <h3>리뷰 작성하기</h3>

                    <div>

<!--                        <img src="/img/festival/reviewAttach/2f9d6fe0-28a4-4f4d-a64f-a260ce75d47f_스크린샷 2024-07-04 162835.png">-->

                        <form id="reviewForm" encType="multipart/form-data">

                            <textarea name="reviewTextArea" id="reviewTextArea" rows="4" cols="150" placeholder="리뷰를 입력하세요">
                            </textarea>
                            <input name="reviewStar" id="reviewStar" type="number" step="0.5" value="3" max="5" min="0" style="width: 40px; height: 40px">
                            <input name="uploadFile" id="uploadFile" type="file" accept="image/*">
                            <input name="festivalId" type="hidden" th:value="${festival.festivalId}">
                            <button id="reviewInsertBtn" type="button">리뷰 제출</button>

                        </form>

                    </div>

                    <div id="reviewListHead">

                        <table class="table table-striped" id="reviewTable" style="text-align: center;">

                            <thead class="table-light">
                            <tr style="text-align: center;">
                                <th scope="col" style="width: 15px">#</th>
                                <th scope="col" style="width: 100px">프로필</th>
                                <th scope="col" style="width: 100px">이름</th>
                                <th scope="col" style="width: 200px">별점</th>
                                <th scope="col" style="width: 500px">내용</th>
                                <th scope="col" style="width: 100px">첨부파일</th>
                                <th scope="col" style="width: 100px">수정</th>
                                <th scope="col" style="width: 100px">삭제</th>
                            </tr>
                            </thead>
                            <tbody id="reviewList">

                            </tbody>

                        </table>
                    </div>

                    <div id="reviewPages">

                    </div>

                </div>



                <div id="youtubeList" style="width: 100%">

                    <h3>관련 동영상</h3>

                    <div id="players">
                    </div>

                    <div id="youtubePages">
                    </div>

                </div>





                <div id="naverNews" style="width: 100%">

                    <h3>네이버 기사</h3>

                    <div>

                        <img src="/img/festival/star.png" height="250px">

                    </div>

                    <div id="articlePages">

                        <button class="youtubePage">1</button>
                        <button class="youtubePage">1</button>
                        <button class="youtubePage">1</button>

                    </div>

                </div>

                <div id="naverBlog" style="width: 100%">

                    <h3>네이버 블로그</h3>



                    <div>

                        <img src="/img/festival/star.png" height="250px">

                    </div>

                    <div id="blogPages">

                        <button>1</button>
                        <button>2</button>
                        <button>3</button>

                    </div>

                </div>

            </div>


        </div>

        <div id="downZone">


            <div id="recommendCardZone">

                <h3>
                    <img src="/img/festival/star.png" alt="이미지 없음" height="50px"> 축제 추천 리스트
                    <button class="btn btn-primary"  id="regionRecommend" th:value="${festival.regionId}">같은 지역</button>
                    <button class="btn btn-primary" id="seasonRecommend" th:value="${festival.season}">같은 계절</button>
                    <button class="btn btn-primary" id="manageInstRecommend" th:value="${festival.manageInstitution}">주체기관 동일</button>
                    <button class="btn btn-primary" id="keywordRecommend" th:value="${festival.festivalId}">키워드 동일</button>
                </h3>

                <div id="recommendCardList">
                </div>


            </div>

        </div>




    </div>


</div>

</body>
</html>