<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml">
<html layout:decorate="~{common/layout/layoutMenubar}">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/festival/festivalList.css}">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script th:src="@{/js/festival/festivalList.js}"></script>
</head>
<body>

<div layout:fragment="content">

    <div>

        <div id="searchForm" name="searchForm1" method="post">
            <div id="inputGroup">
                <select name="regionId"  id="searchRegion">
                </select>
                <select name="timeId"  id="searchTime">
                </select>
                <input  type="text" name="festivalName" id="festivalName" placeholder="축제 이름" aria-label="festivalName">
                <input  type="text" name="festivalContent" id="festivalContent" placeholder="내용 키워드" aria-label="festivalContent">
                <input  type="text" name="manageInstitution" id="manageInstitution" placeholder="주체기관" aria-label="manageInstitution">
                <input  type="text" name="hostInstitution" id="hostInstitution" placeholder="후원기관" aria-label="hostInstitution">
                <input  type="text" name="tel" id="tel" placeholder="전화번호" aria-label="tel" pattern="[0-9]{3}-[0-9]{4}-[0-9]{4}">
                <input type="text" name="place" id="place" placeholder="장소" aria-label="place">
                <input  type="date" name="formattedStart" id="formattedStart" placeholder="시작일" aria-label="formattedStart">
                <input  type="date" name="formattedEnd" id="formattedEnd" placeholder="종료일" aria-label="formattedEnd">
                <input type="number" name="avgRate" id="avgRate" value="0.0" step="0.1" placeholder="최소 별점" aria-label="avgRate" min="0" max="5">
                <select name="season"  id="searchSeason1">
                    <option value="" selected>계절</option>
                    <option value="봄">봄</option>
                    <option value="여름">여름</option>
                    <option value="가을">가을</option>
                    <option value="겨울">겨울</option>
                </select>
                <button id="searchBtn1"  type="button">검색</button>

            </div>
        </div>
    </div>


    <div id="festivalRegulate">


        <div id="festivalRecommendation" style="width:100%">

            <h2 th:text="${user.userName} + '님 이런 작품은 어때요?'"></h2>
            <div id="list2" style="width:60%">

            </div>

            <div id="pageNum2"></div>


        </div>


        <div id="festivalList">

<!--             Modal : db 상세 검색 -->
<!--            <div class="modal fade" id="searchModal1" tabindex="-1" role="dialog"-->
<!--                 aria-labelledby="exampleModalCenterTitle" aria-hidden="true">-->
<!--                <div class="modal-dialog modal-dialog-centered" role="document">-->
<!--                    <div class="modal-content">-->
<!--                        <div class="modal-header">-->
<!--                            <h5 class="modal-title" id="exampleModalLongTitle1">검색 조건</h5>-->
<!--                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
<!--                                <span aria-hidden="true">&times;</span>-->
<!--                            </button>-->
<!--                        </div>-->
<!--                        <div class="modal-body">-->

<!--                            <form id="searchForm1" name="searchForm1">-->

<!--                                지역 번호 : <select name="regionId" id="searchRegion">-->
<!--                            </select><br><br>-->
<!--                                시간대 : <select name="timeId" id="searchTime">-->
<!--                            </select><br><br>-->
<!--                                축제 이름 : <input name="festivalName" type="text"><br><br>-->
<!--                                내용 키워드<br><textarea name="festivalContent" cols="55" rows="10"></textarea><br><br>-->
<!--                                주체기관 : <input class="autoWidth" name="manageInstitution" type="text"><br><br>-->
<!--                                주관기관 : <input class="autoWidth" name="hostInstitution" type="text"><br><br>-->
<!--                                후원기관 : <input class="autoWidth" name="sponserInstitution" type="text"><br><br>-->
<!--                                전화번호 : <input name="tel" type="text"><br><br>-->
<!--                                장소 : <input name="place" type="text"><br><br>-->
<!--                                시작일 : <input name="formattedStart" type="date"><br><br>-->
<!--                                종료일 : <input name="formattedEnd" type="date"><br><br>-->
<!--                                최소 별점 : <input name="avgRate" type="number" step="0.1"><br><br>-->
<!--                                계절: <select name="season" id="searchSeason1">-->
<!--                                <option value="">선택안함</option>-->
<!--                                <option value="봄">봄</option>-->
<!--                                <option value="여름">여름</option>-->
<!--                                <option value="가을">가을</option>-->
<!--                                <option value="겨울">겨울</option>-->
<!--                                </select><br><br>-->

<!--                                <button type="button" id="searchBtn1">검색</button>-->

<!--                            </form>-->


<!--                        </div>-->
<!--                        <div class="modal-footer">-->
<!--                            <button id="close1" type="button" class="btn btn-secondary" data-dismiss="modal">Close-->
<!--                            </button>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->

<!--            <h2>축제 현황-->
<!--                <button id="search1" type="button" class="btn btn-primary" data-toggle="modal"-->
<!--                        data-target="#searchModal1" style="margin:0px">-->
<!--                    <img src="https://play-lh.googleusercontent.com/jLQTklRid_7HfQ1a6hzrM8WO439CyZ6dWCVnI0eiaeW8k7W3Mn69j4oy7lYedZ2QqKM"-->
<!--                         style="width : 20px; height: 20px;">-->
<!--                </button>-->
<!--            </h2>-->
            <h2>축제 리스트</h2>
            <div id="list1" style="width:100%">
            </div>


            <div id="pageNum1"></div>

            <br><br><br><br><br><br>
        </div>


    </div>


</div>

</body>
</html>