    body{

        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";;

    }


    #festivalRegulate{

        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        margin-top: 8%;
    }

    table{

        width: 77vw !important;
        align-self: flex-start;
        margin-left: 5%;
    }



    table, th, td{

        border: 1px solid #dee2e6;


    }




    th, td{
        text-align : center;
        min-width: 50px;
        max-width: 100px;
    }


    th{

        background-color: #C6D6EF;

    }



    td{
        background-color: #E7EEF9;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }


    td#festivalContent, td#festivalName{


    }

    .neverClickable{

        pointer-events: none !important;
        background-color: #f0f0f1 !important;
        text-align: center;

    }


    .autoWidth{

        display: inline-block;
        width: auto;
        padding: 1px;
        text-align: left;


    }


    #pageNum1, #pageNum2{

        display: flex;
        flex-direction: row;


    }

    .pageBtn1,
    .pageBtn2,
    .pageBtn3,
    .pageBtn4,
    .pageBtn5,
    .pageBtn6,
    .pageBtn7,
    .pageBtn8,
    .pageBtn9,
    .pageBtn10,
    .pageBtn11,
    .pageBtn12,
    .pageBtn13,
    .pageBtn14,
    .pageBtn15,
    .pageBtn16,
    .pageBtn17,
    .pageBtn18
    {
        position: relative;
        display: inline-block;
        padding: .5rem .75rem;
        margin-left: -1px;
        line-height: 1.25;
        color: #007bff;
        background-color: #fff;
        border: 1px solid #dee2e6;

    }


/*    .pageBtn3{

        color: black;


    }*/


    .pageBtn4, .pageBtn6{
/*        margin: 0.9%;*/
/*        color: black;*/
        width: 60px;

    }



/*    .pageBtn5{

        color: black;
    }


    .pageBtn6{

        color: black;

    }*/

    .pageBtn1{

/*        margin: 1%;*/

    }

    .checkHead{



    }

    .buttonHead{




    }

    #dbUpdateBtn, .contentKeywordInsertBtn, .naverArticleKeywordInsertBtn,
    .naverBlogKeywordInsertBtn, .reviewKeywordInsertBtn{

        font-size: 10px;

    }


   /* 필터 컨테이너 */
   .filter-container {
       display: flex;
       justify-content: space-between;
       margin: 20px 0;
   }


    select,input{

        max-width: 100px;
        border: 1px solid #ced4da;
        border-radius: 0px;
        color: #495057;
        height: 40px;

    }

    input.check1,
    input.check2{

        width: 13px;

    }

    .imgUrl,
    .buttonHead{

        min-width: 150px;

    }

    .filter-container {
        display: flex;
        align-items: center;
        gap: 5px;
    }

    .active{

        padding: 5px 10px;
/*        margin: 0 5px;*/
        border: 1px solid #ddd;
        background-color: #D9D9D9;
        cursor: pointer;

    }

    .none{

        display: none;

    }

    #searchForm1{

        display: flex;
        flex-flow: row;
        align-items: center;
        width: 95vw;

    }


    #inputGroup1{

        margin-left: 5%;

    }

    #deleteZone{

        width: 870px;
        display: flex;
        justify-content: end;

    }

    #searchForm2{

        margin-left: 5%;

    }


    #insertZone{

        width: 1310px;
        display: flex;
        justify-content: end;

    }


