
    #festivalRegulate{

        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        margin-left: 5%;
        margin-right: 5%;

    }


    #festivalRecommendation{

        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        margin-top: 8%;
        margin-left: 5%;
        margin-right: 5%;

    }


    #list2{

        overflow-x: scroll;
        margin: 3%;
        text-align: center;
        display: flex;


    }


    #festivalList{

        display: flex;
        width: 100%;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        margin-top: 8%;
        margin-left: 5%;
        margin-right: 5%;

    }


    #list1{

        display: flex;
        flex-flow: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin-top: 3%;
        margin-left: 5%;
        margin-right: 5%;


    }

    .card{

        margin: 1%;
        min-width: 400px;
        max-width: 400px;
        min-height: 600px;
        max-height: 600px;

    }


   .card-img-top{

        margin: 1%;
        width: 380px;
        height: 400px;


    }


    button{

        margin: 1%;

    }

   #pageNum1{

       display: flex;
       flex-flow: row;
       width: 30%;
       align-items: center;
       justify-content: center;


   }

   #pageNum1 button{

        margin: 0.5%;

   }

   .hate, .heart{

        min-width: 30px;
        min-height: 30px;

   }

   .hasLove{

        background-color: #ffe5ea;

   }

   .hasHate{

        background-color: #dfdfdf;

   }