    body{

        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

    }



    .container {
        max-width: 1400px;
        margin: 0 auto;
        padding: 30px;
    }


    #upperZone{

        display: flex;
        gap: 20px;
        position: relative;

    }

    .detail-card {
        width: 330px;
        height: 440px;
        padding: 24px;
        background: white;
        border-radius: 8px;
        border: 1px #D9D9D9 solid;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #upperZone img:first-child{

        width: 300px;
        height: 400px;
        background: linear-gradient(0deg, #E3E3E3 0%, #E3E3E3 100%);
        vertical-align: middle;
        border-style: none;
        box-sizing: border-box;
    }


    #detailCardZone{

      display: flex;
      flex-direction: column;
      gap: 16px;
      box-sizing: border-box;

    }

    .card-title{

        color: #1E1E1E;
        font-size: 24px;
        font-weight: bold;

    }

    .info-section-content {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    .info-section-content *{

        font-size: 16px;
        font-weight: 300;
        color: black;

    }


    .whiteHeartBtn{
       position: absolute;
       background: white;
       padding: 5px 10px;
       margin: 0 5px;
       border: none;
       border-radius: 5px;
       cursor: pointer;
       opacity: 0.8
   }

    #upperZone .whiteHeartBtn{

       top: 380px;
      right: 70px;
    }


    #downZone .whiteHeartBtn{

       top: 290px;
       right: 60px;
    }



   .heart{

       font-weight: 700;
       color: white;
       text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);


   }



   .whiteHateBtn{

      position: absolute;
      background: white;
      padding: 5px 10px;
      margin: 0 5px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      opacity: 0.8;
   }



   #upperZone .whiteHateBtn{

       top: 380px;
       right: 15px;

   }

   #downZone .whiteHateBtn{

       top: 290px;
       right: 5px;

   }


   .hate{

       font-weight: 700;
       color: white;
       text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

   }

    #contentBtnZone {
        display: flex;
        gap: 8px;
        margin: 20px 0;
        justify-content: flex-start;
    }

    #contentBtnZone button{

      background: #D9D9D9;
      border: 1px #F5F5F5 solid;
      padding: 12px;
      border-radius: 8px;
      cursor: pointer;
      text-align: center;
      width: 138px;

   }


    #downZone{

       padding: 24px;
       background: white;
       border-radius: 8px;
       border: 1px #D9D9D9 solid;

   }

    .card-body{

        display: flex;
        flex-flow: column;
        align-items: start;
        justify-content: space-between;
        color: #757575;
        font-size: 16px;

    }

/*    #mapDiv #map{

        width: 100%;
        height: 400px;
        position: relative;
        overflow: hidden;
        background: rgb(248, 249, 250);

    }*/

    #festivalInfo{

        width: 100%;

    }


    #recommendCardZone h3{

        margin-bottom: 10px;


    }


    #recommendCardList{

        display: flex;
        flex-flow: row;
        flex-wrap: no-wrap;
        align-items: center;
        justify-content: center;
        margin-left: 5%;
        margin-right: 5%;
        flex-wrap: wrap;
        gap: 10px;

    }


    #recommendCardList .card{

        min-height: 440px;
        max-height: 440px;
        min-width: 249px;
        max-width: 249px;
        margin-bottom: 10px;
        background: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: transform 0.2s;
        border: 0px;


    }

    #recommendCardList .card:hover {
       transform: scale(1.05);
   }


    #recommendCardList .card-img-top{

        max-height: 332px;
        min-width: 249px;
        min-height: 332px;
        max-width: 249px;
        border-radius: 8px;
        object-fit: cover;

    }

    #recommendCardList #card-title{

        color: #1E1E1E;
        font-size: 20px;
        font-weight: bold;

    }

    #recommendCardList #card-text{

        font-size: 14px !important;

    }


    #detailDescripZone{

        width: 100%;

    }


    #reviewTextArea{

        width: 100%;
        height: 150px;
        margin-bottom: 10px;
        padding: 10px;
        border: 1px solid #bdc3c7;
        border-radius: 4px;

    }


    #reviewListHead {

        font-size: 20px;

    }



    #festivalInfo > div{

        margin-top: 50px;
        margin-bottom: 200px;

    }




    #players{

        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;


    }

    #youtubePages{

        font-size: 20px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

    }


    #articlePages, #blogPages{

        display: flex;
        align-items: center;
        justify-content: center;

    }


    #blogs .card{

        width: 100%;
        height: 210px;

    }



    .recommendCard{

        margin: 1%;
        min-width: 400px;
        max-width: 400px;
        min-height: 600px;
        max-height: 600px;


    }

    #recommendCardZone{

        width: 100%;

    }


    .hasLove{



   }

   .hasHate{



   }

   #keywordZone{

        display : flex;
        flex-flow: column;
        align-items: center;
        justify-content: start;
        margin: 1%;

   }



   #contentKeyword, #reviewKeyword, #naverArticleKeyword, #naverBlogKeyword{

        display: flex;
        justify-content: left;
        gap: 10px;
        margin-bottom: 20px;

   }


   button.keyword{

        background-color: #cff7d3;
        color: #02542d;
        padding: 8px 15px;
        border-radius: 15px;
        font-size: 14px;
        font-weight: bold;
        text-decoration: none;
        border: 0px;

   }




    #buttonZone{

        width: 100%;
        display: flex;
        align-items: center;
        flex-flow: row;
        justify-content: center;

    }



    span{

        margin: 1%;

    }

    .hide{

        display: none !important;

    }

    [class^="star-rating"] {
      position: relative;
      flex-direction: row-reverse;
      justify-content: flex-end;
      display: inline-flex;
      width: 10%;
      left: 30px;
    }

    [class^="star-rating"] input {
      position: absolute;
      opacity: 0;
    }

    [class^="star-rating"] label {
      cursor: pointer;
      transition: color 0.15s;
      font-size: 24px;
      color: rgba(189, 189, 189, 0.7);
      font-size: 24px;
      margin-right: 8px;
      margin-bottom: 0px;
    }

    [class^="star-rating"] input:checked ~ label {
      color: gold;
    }

    [class^="star-rating"] input:hover ~ label {
      color: goldenrod;
      transition: none;
    }

    [class^="star-rating"] label:active {
      color: darkgoldenrod !important;
    }

    [class^="star-rating"] input:focus-visible + label {
      outline-offset: 1px;
      outline: #4f46e5 solid 2px;
    }

    .gold {

        color: gold;

    }

    .recommendCard:hover {
        transform: scale(1.05);
    }


   #recommendCardList .card-title{

        font-size: 20px;
        font-weight: 600;
        color: #333;
        margin-bottom: 5px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 230px;

    }

    #recommendCardList .card-body p{

        margin-top: 0px;
        margin-bottom: 0px;
        font-size: 16px;
        font-weight: 400;
        color: #757575;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 200px;

    }


    #recommendCardList .card-body .t2{
        margin-top: 0px;
        margin-bottom: 20px;


    }




    .avgstar.full {
        color: gold;
    }

    .avgStar.empty {
        color: lightgray;
    }

    .avgStar.full, .avgStar.empty {
        margin: 0px;
        font-size: 24px;
    }




    #reviewSection{
        background-color: #ecf0f1;
        border-radius: 8px;
        padding: 20px;
        margin-bottom: 20px;
        max-width: 100%;
        margin: 0 auto;
        padding-top: 5px;
    }


   #reviewListHead{

        margin-top: 30px;
        padding: 20px;
        background-color: #ffffff;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

   }

   #reviewListHead h2 {
       display: inline-block;
       font-size: 24px;
       font-weight: bold;
       margin-bottom: 15px;
   }

   #reviewListHead #totalReviewCount{

        display: inline-block;
        margin-left: 10px;
        font-size: 13px;

   }



    #reviewForm > div{

        display: flex;
        flex-flow: row;

    }

    .review {
        position: relative;
        padding: 15px;
        border: 1px solid #e0e0e0;
        border-radius: 8px;
        margin-bottom: 15px;
        display: flex;
        flex-direction: column;
    }

    .user-info {
        display: flex;
        align-items: center;
    }

    .user-info img {
        width: 50px;
        height: 50px;
        border-radius: 50%;s
        margin-right: 10px;
    }

    .user-details {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .user-details:nth-child(1) {
        font-weight: bold;
        font-size: 20px;
    }


    .user-details:nth-child(2){
        font-size: 13px;
        color: #999;
        font-weight: bold;
    }

    .review-content {
        flex: 1;
        display: flex;
        width: 100%;
    }

    .review-content p {
        font-size: 20px;
        color: #333;
        margin-top: 0;
        margin-bottom: 1rem;
    }

    .review-text-container {
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid #e0e0e0;
        width: 100%;
        margin: 0 15px 15px 15px;
    }


    .review-text-container textarea{

        resize: vertical;
        margin: 0;
        font-family: inherit;
        font-size: inherit;
        line-height: inherit;
        overflow: auto;
        width: 100%;
    }


     .review-actions {
            display: block;
            position: absolute;
            top: 10px;
            right: 10px;
    }


    #reviewForm > div > div{

        display: flex;
        flex-flow: column;
        align-items: center;
    }


/*    .review-actions button {
        background-color: #3498db;
        color: white;
        border: none;
        padding: 5px 10px;
        border-radius: 4px;
        margin-left: 5px;
        cursor: pointer;
        font-size: 12px;
    }*/


    .goldStar{
        font-weight: bold;
        font-size: 20px;
        color: #ffc107;
    }

    .emptyStar{
        font-weight: bold;
        font-size: 20px;
        color: #e0e0e0;
    }







    #heartHateZone{
        display: flex;
        justify-content: center; /* 가운데 정렬 */
        align-items: center;
        gap: 10px; /* 아이콘 사이의 간격 */
        margin: 20px 0 30px;
    }

    #heartHateZone .whiteHateBtn, #heartHateZone .whiteHeartBtn{

        position: relative;
        background: #f0f0f0;
        padding: 10px 15px;
        margin: 5px 0;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        opacity: 0.8;
        height: 50px;
        transition: all 0.3s ease;
    }

    #heartHateZone.card{

        flex-direction : row;
        border: 0px;

    }


   #contentBtnZone button.activeGray{

     background-color: #7f7f7f;
     color: white;
   }


   .pageBtn1,
   .youtubeBtn,
   .articleBtn,
   .blogBtn{

        padding: 5px 10px;
        margin: 0 5px;
        border: 1px solid #ddd;
        background-color: white;
        cursor: pointer;


   }

   .activePage{

        padding: 5px 10px;
        margin: 0 5px;
        border: 1px solid #ddd;
        background-color: #D9D9D9;
        cursor: pointer;

   }


   #detailBtn:hover,
   #mapBtn:hover,
   #reviewBtn:hover,
   #relatedInfo:hover,
   #similarFestival:hover{

        background: #E5E5E5;

   }

  #heartHateZone .whiteHeartBtn:hover,
  #heartHateZone .whiteHateBtn:hover {
      background-color: #e0e0e0;
      transform: translateY(-2px);
  }

  .info-label {
      font-weight: bold;
      color: #555;
      white-space: nowrap;
      width: 100px;
  }

  .info-section-content div{

        display: flex;
        padding: 5px 0;
        gap: 10px;

  }