
    #festivalRegulate{

        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        margin-left: 5%;
        margin-right: 5%;

    }


    #festivalRecommendation,
    #festivalList
    {

        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
        margin-left: 5%;
        margin-right: 5%;

    }

    #festivalList{

        width: 1400px;

    }

    #festivalList h2{

        font-size: 22px;

    }


    #festivalRegulate  h2{

        width: 100%;
        text-align: center;
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 20px;

    }



    #list2{

        overflow-x: scroll;
        text-align: center;
        display: flex;
        gap: 10px;
        height: 540px;
    }

    #list2 .card{

       min-width: 249px;
       max-width: 249px;
       margin: 0 10px;
       max-height: 332px;
       min-height: 332px;
       background : white;
       border: 1px solid #D9D9D9;
       border-radius: 8px;
       display: flex;
       flex-direction: column;
       align-items: center;
       box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
       transition: transform 0.2s;

    }


   .card-img-top{

        max-height: 332px;
        min-width: 249px;
        min-height: 332px;
        max-width: 249px;
        border-radius: 8px;
        object-fit: cover;

    }


    button{

        margin: 1%;

    }



    .card-number {
        font-size: 60px;
        font-weight: 700;
        color: white;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
        position: absolute;
        top: 10px;
        left: 10px;
    }

    .card-title{

        font-size: 20px;
        font-weight: 600;
        color: #333;
        margin-bottom: 5px;
        white-space: normal;

    }

    .card-body p{

        margin-top: 0;
        margin-bottom: 1rem;
        font-size: 16px;
        font-weight: 400;
        color: #757575;
        white-space: normal;

    }




    #list1{

        display: flex;
        flex-flow: row;
        flex-wrap: no-wrap;
        align-items: center;
        justify-content: center;
        margin-left: 5%;
        margin-right: 5%;
        flex-wrap: wrap;
        gap: 10px;

    }

    #list1 .card{

        min-height: 440px;
        max-height: 440px;
        min-width: 249px;
        max-width: 249px;
        margin-bottom: 10px;
        background: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: transform 0.2s;
        border: 0px;

    }




   #pageNum1{

       display: flex;
       flex-flow: row;
       width: 30%;
       align-items: center;
       justify-content: center;
       margin-top: 15px;


   }

   #pageNum1 button{

        margin: 0.5%;

   }

   card-body a.btn{

        width: 20%;
        height: 30%;
        text-align: center;
        display: inline-flex;
        align-items: center;

   }

   .heart{

       font-weight: 700;
       color: white;
       text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
       position: absolute;
       top: 300px;
       right: 60px;

   }

   .hate{

       font-weight: 700;
       color: white;
       text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
       position: absolute;
       top: 300px;
       right: 10px;

   }



   .hasLove{



   }

   .hasHate{



   }


   .buttonZone{

     display: flex;
     flex-flow: row;
     align-items: center;
     justify-content: center;

   }

   .card:hover {
       transform: scale(1.05);
   }



    #inputGroup{

        display: flex;
        flex-flow: row;
        justify-content: flex-end;
        align-items: center;

    }

    #inputGroup input{

        width: 130px;
        height: 50px;

    }

    #inputGroup select{

        width: 130px;
        height: 50px;
    }




