    .container {
        max-width: 1400px;
        margin: 0 auto;
        padding: 30px;
    }


    #upperZone{

        display: flex;
        gap: 20px;
        position: relative;

    }

    .detail-card {
        width: 330px;
        height: 440px;
        padding: 24px;
        background: white;
        border-radius: 8px;
        border: 1px #D9D9D9 solid;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #upperZone img:first-child{

        width: 300px;
        height: 400px;
        background: linear-gradient(0deg, #E3E3E3 0%, #E3E3E3 100%);
        vertical-align: middle;
        border-style: none;
        box-sizing: border-box;
    }


    #detailCardZone{

      display: flex;
      flex-direction: column;
      gap: 16px;
      box-sizing: border-box;

    }

    .card-title{

        color: #1E1E1E;
        font-size: 24px;
        font-weight: bold;

    }

    .info-section-content {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    .info-section-content *{

        font-size: 20px;
        font-weight: 300;
        color: black;

    }




    .heart{

       font-weight: 700;
       color: white;
       text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
       position: absolute;
       top: 380px;
       left: 220px;

   }

   .hate{

       font-weight: 700;
       color: white;
       text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
       position: absolute;
       top: 380px;
       left: 280px;

   }

    #contentBtnZone {
        display: flex;
        gap: 8px;
        margin: 20px 0;
        justify-content: flex-start;
    }

    #contentBtnZone button{

      background: #D9D9D9;
      border: 1px #F5F5F5 solid;
      padding: 12px;
      border-radius: 8px;
      cursor: pointer;
      text-align: center;
      width: 138px;

   }


    #downZone{

       padding: 24px;
       background: white;
       border-radius: 8px;
       border: 1px #D9D9D9 solid;

   }

    .card-body{

        display: flex;
        flex-flow: column;
        align-items: start;
        justify-content: space-between;
        color: #757575;
        font-size: 16px;

    }

    #mapDiv #map{

        width: 100%;
        height: 400px;
        position: relative;
        overflow: hidden;
        background: rgb(248, 249, 250);

    }

    #festivalInfo{

        width: 100%;

    }


    #recommendCardZone h3{

        margin-bottom: 10px;


    }


    #recommendCardList{

        display: flex;
        flex-flow: row;
        flex-wrap: no-wrap;
        align-items: center;
        justify-content: center;
        margin-left: 5%;
        margin-right: 5%;
        flex-wrap: wrap;
        gap: 10px;

    }


    #recommendCardList .card{

        min-height: 440px;
        max-height: 440px;
        min-width: 249px;
        max-width: 249px;
        margin-bottom: 10px;
        background: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: transform 0.2s;
        border: 0px;


    }

    #recommendCardList .card:hover {
       transform: scale(1.05);
   }


    #recommendCardList .card-img-top{

        max-height: 332px;
        min-width: 249px;
        min-height: 332px;
        max-width: 249px;
        border-radius: 8px;
        object-fit: cover;

    }

    #recommendCardList #card-title{

        color: #1E1E1E;
        font-size: 20px;
        font-weight: bold;

    }

    #recommendCardList #card-text{

        font-size: 14px !important;

    }


    #recommendCardList .heart{

        font-weight: 700;
        color: white;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
        position: absolute;
        top: 290px;
        left: 150px;

    }


    #recommendCardList .hate{

        font-weight: 700;
        color: white;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
        position: absolute;
        top: 290px;
        left: 200px;

    }




    #detailDescripZone{

        width: 100%;

    }


    #reviewTextArea{

        width: 100%;

    }


    #reviewListHead {

        font-size: 20px;

    }



    #festivalInfo > div{

        margin-top: 50px;
        margin-bottom: 200px;

    }




    #players{

        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;


    }

    #youtubePages{

        font-size: 20px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

    }


    #articlePages, #blogPages{

        display: flex;
        align-items: center;
        justify-content: center;

    }


    #blogs .card{

        width: 100%;
        height: 210px;

    }



    .recommendCard{

        margin: 1%;
        min-width: 400px;
        max-width: 400px;
        min-height: 600px;
        max-height: 600px;


    }

    #recommendCardZone{

        width: 100%;

    }


    .hasLove{



   }

   .hasHate{



   }

   #keywordZone{

        display : flex;
        flex-flow: column;
        align-items: center;
        justify-content: start;
        margin: 1%;

   }



   #contentKeyword, #reviewKeyword, #naverArticleKeyword, #naverBlogKeyword{

        display: flex;
        justify-content: left;
        gap: 10px;
        margin-bottom: 20px;

   }


   button.keyword{

        background-color: #f0f0f0;
        color: #333;
        padding: 8px 15px;
        border-radius: 20px;
        font-size: 14px;
        font-weight: bold;
        text-decoration: none;
        border: 0px;
   }




    #buttonZone{

        width: 100%;
        display: flex;
        align-items: center;
        flex-flow: row;
        justify-content: center;

    }



    span{

        margin: 1%;

    }

    .hide{

        display: none;

    }

    [class^="star-rating"] {
      position: relative;
      display: inline-flex;
      flex-direction: row-reverse;
      justify-content: flex-end;
      margin: 0 -0.25rem;
    }

    [class^="star-rating"] input {
      position: absolute;
      opacity: 0;
    }

    [class^="star-rating"] label {
      cursor: pointer;
      color: grey;
      padding: 0 0.25rem;
      transition: color 0.15s;
    }

    [class^="star-rating"] input:checked ~ label {
      color: gold;
    }

    [class^="star-rating"] input:hover ~ label {
      color: goldenrod;
      transition: none;
    }

    [class^="star-rating"] label:active {
      color: darkgoldenrod !important;
    }

    [class^="star-rating"] input:focus-visible + label {
      outline-offset: 1px;
      outline: #4f46e5 solid 2px;
    }

    .gold {

        color: gold;

    }

    .recommendCard:hover {
        transform: scale(1.05);
    }


    #recommendCardList .card-title{
        color: #1E1E1E;
        font-size: 19px;
        font-weight: bold;
    }

    .avgstar.full {
        color: gold;
    }