
    #festivalRegulate{


        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        margin-top: 8%;
        margin-left: 5%;
        margin-right: 5%;
        overflow-x: scroll;
    }

    table{

        margin-bottom: 50px;
    }






    table, th, td{

        border: 1px solid black;
        width: 100px;


    }




    th, td{
        text-align : center;
        width: 150px;
    }


    th{

        background-color: #C6D6EF;

    }



    td{
        background-color: #E7EEF9;

    }


    td#festivalContent, td#festivalName{

        width: 400px;

    }

    .neverClickable{

        pointer-events: none !important;
        background-color: #f0f0f1 !important;
        text-align: center;

    }


    .autoWidth{

        display: inline-block;
        width: auto;
        padding: 1px;
        text-align: left;


    }


    .pageBtn3{

        color: black;
        background-color: #FAEBD7;

    }


    .pageBtn4{

        color: black;
        background-color: #8FBC8F;

    }