
    #festivalRegulate{


        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        margin-top: 14%;
        margin-left: 10%;
        overflow-x: scroll;
    }

    table{

        margin-bottom: 50px;
    }






    table, th, td{

        border: 1px solid black;
        width: 100px;


    }




    th, td{
        text-align : center;
        width: 150px;
    }


    th{

        background-color: #C6D6EF;

    }



    td{
        background-color: #E7EEF9;

    }
