/* General Styles */
body {
    font-family: Inter, sans-serif;
}

/* 필터 컨테이너 */
.filter-container {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

/* 장르 필터 */
.genre-filter {
    display: flex;
    align-items: center;
    gap: 10px;
}

/* 장르 아이템 스타일 */
.genre-item {
    padding: 8px 12px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 400;
    color: #1E1E1E;
    cursor: pointer;
}

/* 활성화된 장르 아이템 스타일 */
.genre-item.active {
    background: #F5F5F5;
    color: #444444;
}

/* 추가 필터 */
.extra-filter {
    display: flex;
    align-items: center;
    gap: 20px;
}

/* 추가 필터 아이템 스타일 */
.extra-item {
    padding: 8px 12px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 400;
    color: #1E1E1E;
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

/* 추가 필터 아이템 내 이미지 스타일 */
.extra-item img {
    width: 20px; /* 아이콘 크기 조정 */
    height: 20px; /* 아이콘 크기 조정 */
}

/* 랭킹 섹션 */
.ranking {
    text-align: center;
    margin-top: 20px;
}

/* 랭킹 제목 스타일 */
.ranking-title {
    font-size: 24px;
    font-weight: 600;
    color: black;
    margin-bottom: 20px;
}


/* 장르 필터2 */
.genre-filter2 {
    display: flex;
    justify-content: center;  /* 가운데 정렬 */
    gap: 20px;
    margin: 20px 0;
}

/* 장르 아이템 스타일2 */
.genre-item2 {
    padding: 8px 12px;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 400;
    color: #1E1E1E;
    cursor: pointer;
}

/* 활성화된 장르 아이템 스타일 */
.genre-item2.active {
    background: #F5F5F5;
    color: #444444;
}








/* 랭킹 카드 컨테이너 */
.ranking-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* 랭킹 카드 */
.ranking-card {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px;
    border: 1px solid #d9d9d9;
    border-radius: 8px;
    background-color: #fff;
    box-sizing: border-box;
    margin: 10px;
}

/* 랭킹 위치 */
.ranking-position {
    font-size: 24px;
    font-weight: 600;
    color: #1e1e1e;
}

/* 랭킹 이미지 */
.ranking-img {
    width: 160px;
    height: 160px;
    background: #e3e3e3;
}

/* 공연 정보 */
.performance-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* 공연 타이틀 */
.performance-title {
    font-size: 20px;
    font-weight: 600;
    color: #1e1e1e;
}

/* 공연 상세 정보 */
.performance-details {
    display: flex;
    gap: 10px;
    font-size: 16px;
    color: #1e1e1e;
}
