<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorate="~{/common/layout/layoutAdminPage}">
<head>
    <link rel="stylesheet" th:href="@{/css/festival/festivalRegulate.css}">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

    <script th:inline="javascript">

        $(document).ready(

            function(){


                // api table
                function findAPIFestivalList(page){

                    $('#list2').html("");

                    $.ajax({

                        url: '/admin/festival-regulate/findAPIFestivalList?page=' + page,
                        method: 'POST',
                        contentType: 'application/json',
                        success: function(list){

                            $.each(list, function(index, festival){

                                var index1 = (index + 1) + (page-1)*5;


                                var content = festival.festivalContent.length > 30?
                                festival.festivalContent.substring(0,30) + "..."
                                : festival.festivalContent;

                                var inst1 = festival.manageInstitution.length > 15?
                                festival.manageInstitution.substring(0,15) + "..."
                                : festival.manageInstitution;

                                var inst2 = festival.hostInstitution.length > 15?
                                festival.hostInstitution.substring(0,15) + "..."
                                : festival.hostInstitution;

                                var inst3 = festival.sponserInstitution.length > 15?
                                festival.sponserInstitution.substring(0,15) + "..."
                                : festival.sponserInstitution;




                                var start = festival.startDate.length >0?
                                festival.startDate.substring(0,10):
                                "링크없음";

                                var end = festival.endDate.length >0?
                                festival.endDate.substring(0,10):
                                "링크없음";


                                var htmlContent =`

                                    <tr>

                                        <td><input class="check2" type="checkbox" name="index" value="${index}"/></td>
                                        <td class="index1">${index1}</td>
                                        <td class="regionId">${festival.regionId}</td>
                                        <td class="timeId">${festival.timeId}</td>
                                        <td class="festivalName">${festival.festivalName}</td>
                                        <td class="festivalContent">${content}</td>
                                        <td class="manageInstitution">${inst1}</td>
                                        <td class="hostInstitution">${inst2}</td>
                                        <td class="sponserInstitution">${inst3}</td>
                                        <td class="tel">${festival.tel}</td>
                                        <td class="homepageUrl"><a href="${festival.homepageUrl}">클릭!</a></td>
                                        <td class="detailAddress">${festival.detailAddress}</td>

                                        <td class="place">${festival.place}</td>
                                        <td class="startDate">${start}</td>
                                        <td class="endDate">${end}</td>
                                        <td class="avgRate">${festival.avgRate}</td>
                                        <td class="season">${festival.season}</td>
                                        <td class="imgUrl"><img src="${festival.imgUrl}" width="40px"></td>

                                    </tr>

                                `;

                                $('#list2').append(htmlContent);

                            })


                        }

                    })
                }


                findAPIFestivalList(1);

                for(var p=1; p<=10; p++){

                    $('#pageNum2').append(`<button class="pageBtn2">${p}</button>`)


                }

                $(document).on('click','.pageBtn2', function(){

                    const page = $(this).text();
                    findAPIFestivalList(page);

                })


                $(document).on('click','#apiInsertBtn', function(){

                    var checks = [];

                    var selectedChecks = document.querySelectorAll("input[type='checkbox']:checked");

                    $.each(selectedChecks, function(index, item){


                        checks.push($(item).val());
                        console.log($(item).val());

                    })

                    console.log(checks)

                    $.ajax({

                        url: '/admin/festival-regulate/insertAPIFestivalList',
                        method: 'POST',
                        contentType: 'application/json',
                        data: JSON.stringify(checks),
                        success: function(response){

                            alert(response);
                            window.location.href='/admin/festival-regulate';

                        }


                    })


                })


                // db 조회 기능

                function findDBFestivalList(page){

                    $('#list1').html("");

                    $.ajax({

                        url: '/admin/festival-regulate/findDBFestivalList?page=' + page,
                        method: 'POST',
                        contentType: 'application/json',
                        success: function(list){

                            console.log(list)

                            $.each(list, function(index, festival){

                                console.log(festival)

                                var index1 = (index + 1) + (page-1)*5;


                                var content = festival.festivalContent.length > 30?
                                festival.festivalContent.substring(0,30) + "..."
                                : festival.festivalContent;

                                var inst1 = festival.manageInstitution.length > 15?
                                festival.manageInstitution.substring(0,15) + "..."
                                : festival.manageInstitution;

                                var inst2 = festival.hostInstitution.length > 15?
                                festival.hostInstitution.substring(0,15) + "..."
                                : festival.hostInstitution;

                                var inst3 = festival.sponserInstitution.length > 15?
                                festival.sponserInstitution.substring(0,15) + "..."
                                : festival.sponserInstitution;


                                var start = festival.startDate.length >0?
                                festival.startDate.substring(0,10):
                                "링크없음";

                                var end = festival.endDate.length >0?
                                festival.endDate.substring(0,10):
                                "링크없음";


                                var htmlContent =`

                                    <tr>

                                        <td><input class="check1" type="checkbox" name="index" value="${festival.festivalId}"/></td>
                                        <td class="index1">${index1}</td>
                                        <td class="festivalId">${festival.festivalId}</td>
                                        <td class="regionId">${festival.regionId}</td>
                                        <td class="timeId">${festival.timeId}</td>
                                        <td class="festivalName">${festival.festivalName}</td>
                                        <td class="festivalContent">${content}</td>
                                        <td class="manageInstitution">${inst1}</td>
                                        <td class="hostInstitution">${inst2}</td>
                                        <td class="sponserInstitution">${inst3}</td>
                                        <td class="tel">${festival.tel}</td>
                                        <td class="homepageUrl"><a href="${festival.homepageUrl}">클릭!</a></td>
                                        <td class="detailAddress">${festival.detailAddress}</td>

                                        <td class="place">${festival.place}</td>
                                        <td class="startDate">${start}</td>
                                        <td class="endDate">${end}</td>
                                        <td class="avgRate">${festival.avgRate}</td>
                                        <td class="season">${festival.season}</td>
                                        <td class="imgUrl"><img src="${festival.imgUrl}" width="40px"></td>

                                    </tr>

                                `;

                                $('#list1').append(htmlContent);

                            })


                        }

                    })
                }



                findDBFestivalList(1);


                function findDBFestivalCount(){

                    $.ajax({

                        url: '/admin/festival-regulate/findDBFestivalCount',
                        method: 'POST',
                        contentType: 'application/json',
                        success: function(count){
                            console.log("카운트는...")
                            console.log(count)

                            var page = 0;

                            if(count % 5 ==0){
                                page = count/5;
                            }else{
                                page = count/5 +1;
                            }

                            for(var p=1; p<=page; p++){

                                $('#pageNum1').append(`<button class="pageBtn1">${p}</button>`)

                            }


                        }

                    })


                }

                findDBFestivalCount();

                $(document).on('click','.pageBtn1', function(){

                    const page = $(this).text();
                    findDBFestivalList(page);

                })


            // 일괄 삭제 기능



                $(document).on('click','#dbDeleteBtn', function(){

                    var checks = [];

                    var selectedChecks = document.querySelectorAll("input[type='checkbox']:checked");

                    $.each(selectedChecks, function(index, item){


                        checks.push($(item).val());
                        console.log($(item).val());

                    })

                    console.log(checks)

                    $.ajax({

                        url: '/admin/festival-regulate/insertAPIFestivalList',
                        method: 'POST',
                        contentType: 'application/json',
                        data: JSON.stringify(checks),
                        success: function(response){

                            alert(response);
                            window.location.href='/admin/festival-regulate';

                        }


                    })


                })




            }
        )





    </script>


</head>
<body>
<div layout:fragment="content2">



    <div id="festivalRegulate">

        <h2>축제 DB 현황 <button id="dbUpdateBtn">DB 수정</button><button id="dbDeleteBtn">DB 삭제</button></h2>
        <table class="table table-striped" id="festivalDB">

            <thead class="table-light">
            <tr>
                <th scope="col">체크</th>
                <th scope="col">#</th>
                <th scope="col">DB번호</th>
                <th scope="col">지역</th>
                <th scope="col">시간</th>
                <th scope="col">이름</th>
                <th scope="col">설명</th>
                <th scope="col">주관</th>
                <th scope="col">주체</th>
                <th scope="col">후원</th>
                <th scope="col">번호</th>
                <th scope="col">홈페이지</th>
                <th scope="col">주소</th>
                <th scope="col">장소</th>
                <th scope="col">시작</th>
                <th scope="col">종료</th>
                <th scope="col">별점평균</th>
                <th scope="col">계절</th>
                <th scope="col">관련이미지</th>
            </tr>
            </thead>
            <tbody id="list1"></tbody>


        </table>
        <div id="pageNum1"></div>


        <br><br><br><br><br><br>

        <h2>전국 축제 실시간<button id="apiInsertBtn">DB에 추가</button></h2>
        <table class="table table-striped" id="festivalAPI">

            <thead class="table-light">
            <tr>
                <th scope="col">체크</th>
                <th scope="col">#</th>
                <th scope="col">지역</th>
                <th scope="col">시간</th>
                <th scope="col">이름</th>
                <th scope="col">설명</th>
                <th scope="col">주관</th>
                <th scope="col">주체</th>
                <th scope="col">후원</th>
                <th scope="col">번호</th>
                <th scope="col">홈페이지</th>
                <th scope="col">주소</th>
                <th scope="col">장소</th>
                <th scope="col">시작</th>
                <th scope="col">종료</th>
                <th scope="col">별점평균</th>
                <th scope="col">계절</th>
                <th scope="col">관련이미지</th>
            </tr>
            </thead>
            <tbody id="list2"></tbody>


        </table>
        <div id="pageNum2"></div>


    </div>





</div>





</body>
</html>