<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.multi.culture_link.admin.exhibition.model.dao.AdminExhibitionDao"><!-- 메퍼위치하고  동일하게 네임스페이스 작성-->
    <resultMap id="exhibitionResultMap" type="com.multi.culture_link.admin.exhibition.model.dto.api.ExhibitionApiDto">
        <result column="start_date" property="start_date" jdbcType="TIMESTAMP" javaType="java.time.LocalDateTime"/>
        <result column="end_date" property="end_date" jdbcType="TIMESTAMP" javaType="java.time.LocalDateTime"/>
    </resultMap>

    <insert id="saveData" parameterType="com.multi.culture_link.admin.exhibition.model.dto.api.ExhibitionApiDto">
        INSERT INTO exhibition (title, artist, museum, start_date, end_date, price, image, description, sub_description, url) VALUES
        <foreach collection="processedData" item="data" separator=",">
            (#{data.title}, #{data.artist}, #{data.museum}, #{data.start_date}, #{data.end_date},
            #{data.price}, #{data.image}, #{data.description}, #{data.sub_description}, #{data.url}
            )
        </foreach>
    </insert>

    <delete id="deleteData" parameterType="java.util.List">
        DELETE FROM exhibition WHERE id IN
        <foreach item="id" collection="list" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <update id="updateData" parameterType="com.multi.culture_link.admin.exhibition.model.dto.api.ExhibitionApiDto">
        UPDATE exhibition
        <set>
            <if test="title != null and title != ''">title = #{title},</if>
            <if test="artist != null and artist != ''">artist = #{artist},</if>
            <if test="museum != null and museum != ''">museum = #{museum},</if>
            <if test="start_date != null">start_date = #{start_date},</if>
            <if test="end_date != null">end_date = #{end_date},</if>
            <if test="price != null and price != ''">price = #{price},</if>
            <if test="image != null and image != ''">image = #{image},</if>
            <if test="description != null and description != ''">description = #{description},</if>
            <if test="sub_description != null and sub_description != ''">sub_description = #{sub_description},</if>
            <if test="url != null and url != ''">url = #{url},</if>
        </set>
        WHERE id = #{id}
    </update>

    <select id="getData" resultType="com.multi.culture_link.admin.exhibition.model.dto.api.ExhibitionApiDto">
        SELECT * FROM exhibition
    </select>

</mapper>