<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.multi.culture_link.admin.exhibition.model.dao.ExhibitionKeywordDao"><!-- 메퍼위치하고  동일하게 네임스페이스 작성-->

    <insert id="saveExhibitionKeyword">
        INSERT INTO exhibition_keyword (exhibition_id, keyword, frequency)
        VALUES (#{exhibitionId}, #{keyword}, #{frequency}) ON DUPLICATE KEY
        UPDATE
            frequency =
        VALUES (frequency)
    </insert>

    <select id="getExhibitionKeywordById" resultType="string">
        SELECT keyword
        FROM exhibition_keyword
        WHERE exhibition_id = #{exhibitionId}
    </select>


    <insert id="updateUserKeyword">
        INSERT INTO exhibition_interested_keyword (user_id, keyword, count)
        VALUES (#{userId}, #{keyword}, #{countChange}) ON DUPLICATE KEY
        UPDATE
            count = count +
        VALUES (count)
    </insert>

    <insert id="saveExhibitionCommentKeyword">
        INSERT INTO exhibition_comment_keyword (exhibition_id, keyword, frequency)
        VALUES (#{exhibitionId}, #{keyword}, #{frequency}) ON DUPLICATE KEY
        UPDATE
            frequency =
        VALUES (frequency)
    </insert>

    <select id="getExhibitionKeyword"
            resultType="com.multi.culture_link.admin.exhibition.model.dto.api.ExhibitionKeywordDto">
        SELECT *
        FROM exhibition_keyword
        WHERE exhibition_id = #{exhibitionId}
        ORDER BY frequency DESC
    </select>

    <select id="getExhibitionAllKeyword"
            resultType="com.multi.culture_link.admin.exhibition.model.dto.api.ExhibitionKeywordPageDto">
        SELECT
        keyword,
        SUM(frequency) AS total_frequency,
        CONCAT(
        LPAD(CAST(SUM(frequency) AS CHAR), 10, '0'),
        LPAD(CAST(MIN(id) AS CHAR), 10, '0')
        ) AS `nextCursor`
        FROM
        exhibition_keyword
        GROUP BY
        keyword
        <if test="nextCursor != 0">
            HAVING `nextCursor` &lt; #{nextCursor}
        </if>
        ORDER BY
        total_frequency DESC,
        MIN(id) DESC
        LIMIT #{size};
    </select>


    <select id="getExhibitionAllKeywordByUser"
            resultType="com.multi.culture_link.admin.exhibition.model.dto.api.ExhibitionKeywordPageDto"
            parameterType="map">
        SELECT
        id,
        keyword,
        count AS frequency
        FROM
        exhibition_interested_keyword
        WHERE
        1 = 1
        AND user_id = #{userId}
        <choose>
            <when test="isInterested == true">
                AND count >= 10
            </when>
            <otherwise>
                AND count &lt;= -10
            </otherwise>
        </choose>
        ORDER BY
        frequency
        <choose>
            <when test="isInterested == true">
                DESC
            </when>
            <otherwise>
                ASC
            </otherwise>
        </choose>
    </select>


    <select id="getExhibitionInterestedKeywordByKeyword"
            resultType="com.multi.culture_link.admin.exhibition.model.dto.api.ExhibitionKeywordDto">
        SELECT id, keyword, count as frequency
        FROM exhibition_interested_keyword
        WHERE keyword = #{keyword}
          AND user_id = #{userId}
    </select>

    <select id="getTotalCountOfExhibitionKeyword" resultType="int">
        SELECT COUNT(*)
        FROM exhibition_keyword
    </select>

    <select id="getExhibitionCommentKeyword"
            resultType="com.multi.culture_link.admin.exhibition.model.dto.api.ExhibitionKeywordDto">
        SELECT *
        FROM exhibition_comment_keyword
        WHERE exhibition_id = #{exhibitionId}
        ORDER BY frequency DESC
    </select>


    <select id="findKeywordsByCount" resultType="string">
        SELECT keyword
        FROM exhibition_interested_keyword
        WHERE user_id = #{userId}
          AND count >= 10
    </select>

    <select id="findExhibitionIdByKeywords" resultType="int">
        SELECT DISTINCT exhibition_id
        FROM exhibition_keyword
        WHERE keyword IN
        <foreach item="item" index="index" collection="keyword" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <select id="findAllById" resultType="com.multi.culture_link.exhibition.model.dto.ExhibitionDto">
        SELECT *
        FROM exhibition
        WHERE id IN
        <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>


    <select id="getExhibitionInterestedKeyword"
            resultType="com.multi.culture_link.admin.exhibition.model.dto.api.ExhibitionKeywordDto">
        SELECT id, keyword, count as frequency
        FROM exhibition_interested_keyword
        where
        keyword != ''
        <if test="orderBy != null">
            <choose>
                <when test="orderBy.equalsIgnoreCase('ASC')">
                    ORDER BY frequency ASC
                </when>
                <when test="orderBy.equalsIgnoreCase('DESC')">
                    ORDER BY frequency DESC
                </when>
                <otherwise>
                    ORDER BY frequency ASC
                </otherwise>
            </choose>
        </if>
    </select>

    <select id="getExhibitionKeywordAll"
            resultType="com.multi.culture_link.admin.exhibition.model.dto.api.ExhibitionKeywordDto">
        SELECT *
        FROM exhibition_keyword
        where
        keyword != ''
        <if test="orderBy != null">
            <choose>
                <when test="orderBy.equalsIgnoreCase('ASC')">
                    ORDER BY frequency ASC
                </when>
                <when test="orderBy.equalsIgnoreCase('DESC')">
                    ORDER BY frequency DESC
                </when>
                <otherwise>
                    ORDER BY frequency ASC
                </otherwise>
            </choose>
        </if>
    </select>


    <update id="updateAnalyze" parameterType="com.multi.culture_link.exhibition.model.dto.ExhibitionInterestDto">
        UPDATE exhibition_interested_keyword
        SET count = #{count}
        WHERE user_id = #{userId}
          AND id = #{id}
    </update>

</mapper>