
    #realContent{

        width: 100%;
        height: 100%;
        display: flex;
        flex-flow: row;
        justify-content: center;


    }



    #rightZone{

        padding: 1%;
        width: 65%;
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: flex-start;

    }


    .round{

        padding: 10px;
        border-radius 50%;
        width: 200px;
        margin: 1%;
    }

    button, input, optgroup, select, textarea {
        margin: 3%;
        font-family: inherit;
        font-size: inherit;
        line-height: inherit;
    }

    #festivalKeywordBtns{
        font-size: 20px;
        overflow-x: scroll;
        margin: 3%;
        text-align: center;
        display: flex;

    }

    .hasLove{

        background-color: #ffe5ea;

    }

    .profileImg{

        border-radius: 50%;

    }

    #upperZone{

        width: 100%;
        display: flex;
        flex-flow: column;
        margin-top: 4%;
        margin-bottom: 1%;

    }

    #downZone{

        width: 100%;
        display: flex;
        flex-flow: column;
    }

    ul {

          list-style-type: none;
          margin: 0;
          padding: 0;
          background-color: #faf3f9;
          display: flex;
          flex-flow: row;
          justify-content: space-around;
          align-items: center;
    }

    #upperZone li {
      float: left;
    }

    li a, .dropbtn {
      display: inline-block;
      color: black;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }

    li a:hover, .dropdown:hover .dropbtn {
      background-color: #fcccf6;
    }

    #upperZone li.dropdown {
      display: inline-block;
      position: relative;
    }

    #upperZone .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 5;
    }

    #upperZone .dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      text-align: left;
    }

    #upperZone .dropdown-content a:hover {
        display: block;
        background-color: #fcccf6;

    }

    #upperZone .dropdown:hover .dropdown-content {
      display: block;
    }

    .active{

        background-color: #eae5fc;

    }

    #upper{

    }

    .scroll{

        overflow-x: scroll;
        margin: 3%;
        text-align: center;
        display: flex;
        flex-flow: row;

    }

    .page{

        margin: 3%;
        text-align: center;
        display: flex;
        flex-flow: column;

    }



    .card{

        margin: 1%;
        min-width: 300px;
        min-height: 500px;
        display: flex;
        align-items: center;

    }


   .card-img-top{

        width: 300px;
        height: 300px;

    }


    button{

        margin: 1%;

    }


    .hate, .heart{

        min-width: 30px;
        min-height: 30px;

    }

   .hasLove{

        background-color: #ffe5ea;

   }

   .hasHate{

        background-color: #dfdfdf;

   }

/*   table, th, td {
     border: 1px solid;
     border-collapse: collapse;
   }*/

   #reviewTable {
       width: 100%;
       table-layout: fixed;
   }

   tr{

        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;

   }


   th, td{

     padding : 10px;
     text-align:center;
     width: 200px;

   }


   td{

        height: 130px;
        display: flex;
        flex-flow: row;
        align-items: center;
        justify-content: center;

   }






   #performanceZone,
   #exhibitionZone,
   #festivalZone,
   #culturalPropertiesZone{

       margin: 0.1%;
       text-align: center;
       display: flex;
       flex-flow: row;
       align-items: center;
       justify-content: center;

   }




    #performanceKeywordList,
    #exhibitionKeywordList,
    #festivalKeywordList,
    #culturalPropertiesKeywordList{

        font-size: 20px;
        overflow-x: scroll;
        margin: 3%;
        text-align: center;
        display: flex;
        width: 80%;
    }


    #addPerformanceLoveKeyword,
    #addExhibitionLoveKeyword,
    #addFestivalLoveKeyword,
    #addCulturalPropertiesLoveKeyword{

        width: 160px;
        height: 45px;

    }


   .bigLove{

        background-color: #ffe5ea;

   }

   .bigHate{

        background-color: #dfdfdf;

   }

    .festivalLoveKeywordBtn,
    .festivalHateKeywordBtn{

       min-width: 150px;
       max-height: 35px;

    }


    #updateBtnZone{

        display: flex;
        flex-flow: row;
        align-items: center;
        justify-content: center;

    }

    #keywordCountUpdate{

        width: 500px;
        height: 100px;
        font-size: 40px;

    }

    [class^="star-rating"] {
          position: relative;
          display: inline-flex;
          flex-direction: row-reverse;
          justify-content: flex-end;
          margin: 0 -0.25rem;
    }

    [class^="star-rating"] input {
      position: absolute;
      opacity: 0;
    }

    [class^="star-rating"] label {
      cursor: pointer;
      color: grey;
      padding: 0 0.25rem;
      transition: color 0.15s;
    }

    [class^="star-rating"] input:checked ~ label {
      color: gold;
    }

    [class^="star-rating"] input:hover ~ label {
      color: goldenrod;
      transition: none;
    }

    [class^="star-rating"] label:active {
      color: darkgoldenrod !important;
    }

    [class^="star-rating"] input:focus-visible + label {
      outline-offset: 1px;
      outline: #4f46e5 solid 2px;
    }

    .gold {

        color: gold;

    }

    .card:hover {
        transform: scale(1.05);
    }

