
    body{

        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

    }



    #realContent{

        width: 100%;
        height: 100vh;
        display: flex;
        flex-flow: column;
        align-items: center;


    }

    #signUp{

        width: 75%;
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        background: #f7f7f6;
        border-radius: 60px;
        margin-top: 5%;
        font-size: 20px;

    }


    #profileImg{

        display: flex;
        justify-content: center;

    }


    .profileImg{

        border-radius: 50%;
        width: 300px;
        height: 300px;
    }

    .round{
        height: 300px;
        width: 300px;
        border-radius: 50%;
    }

    #basicForm{

        margin-top: 50px;
        margin-bottom: 100px;

    }


    #basicForm label{

        width: 150px;

    }

    #basicForm input{

        width: 450px;

    }

    #basicForm select{

        width: 450px;

    }




    #performanceKeywordBtns,
    #festivalKeywordBtns,
    #exhibitionKeywordBtns,
    #culturalPropertiesKeywordBtns
    {
        font-size: 20px;
        overflow-x: scroll;
        margin: 3%;
        text-align: center;
        display: flex;
        max-width: 650px;

    }

    .error{

        color: red;

    }

    label{

        width: 150px;

    }

    input{

        width: 300px;

    }

    select{

        width: 300px;

    }

    .performanceKeywordBtn,
    .festivalKeywordBtn,
    .exhibitionKeywordBtn,
    .culturalPropertiesKeywordBtn,
    .culturalPropertiesCategoryBtns {

       min-width: 150px;
       max-height: 35px;
       color: #02542d;
       padding: 8px 15px;
       border-radius: 15px;
       font-size: 14px;
       font-weight: bold;
       text-decoration: none;
       border: 0px;
       margin: 15px;

    }


    button.hasLove{

       background-color: #cff7d3;

    }


    #signUp h1{

        margin-top: 9%;
        font-size: 50px;
        font-weight: bold;
        color: #7a7272;

    }


    #emailValidate {


    }

    #realContent {
        width: 100%;
        height: 100vh;
        display: flex;
        flex-flow: column;
        align-items: center;
        margin-bottom: 900px;
    }


    #keyZone{

        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 1000px;
    }


    #performanceKeywordZone,
    #festivalKeywordZone,
    #exhibitionKeywordZone,
    #culturalPropertiesKeywordZone{

        margin: 1%;
        text-align: center;
        display: flex;
        flex-flow: row;
        align-items: center;
        justify-content: center;
        width: 400px;
        height: 400px;
        flex-wrap: wrap;
        border-radius: 5%;

    }


    #performanceKeywordBtns,
    #festivalKeywordBtns,
    #exhibitionKeywordBtns,
    #culturalPropertiesKeywordBtns{

        font-size: 20px;
        overflow-x: clip;
        margin: 3%;
        text-align: center;
        display: flex;
        height: 70%;
        flex-flow: row;
        flex-wrap: wrap;
        overflow-y: scroll;
        scrollbar-width: thin;
        scrollbar-color: #e7e1e1 #f1f1f1;

    }


    #basicZone{


    }


    #cateHeadZone{



    }