<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml">
<html layout:decorate="~{common/layout/layoutMenubar}">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/user/signUp.css}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">

    <script>

        $(document).ready(
            function(){

                //#region 기본정보 입력


                /**
                 * 사용자 프로필 사진 변경 시 이미지 바꾸는 이벤트
                 *
                 */
                $("input:file").change(function(){

                    var file = this.files[0];

                    if(file){

                        var reader = new FileReader();

                        reader.onload = function(e){

                            var changeSrc = e.target.result;

                            var htmlContent = ``;

                            htmlContent = `
                                <img class="profileImg round" src="${changeSrc}" alt="이미지가 없습니다">
                            `;

                            $('#profileImg').html(htmlContent);


                        }

                        reader.readAsDataURL(file);

                    }
                })








                /**
                 * 전체 지역 정보를 가져옴
                 *
                 */
                function findAllRegion(){

                    $.ajax({

                        url: '/user/signUp/findAllRegion',
                        method: 'POST',
                        contentType: 'application/json',
                        success: function(list){



                            $('#regionId').html("");

                            $.each(list, function(index, region){
                                var htmlContent = `<option value="${region.regionId}">${region.regionName}</option>`;
                                $('#regionId').append(htmlContent);

                            })

                        }

                    })

                }

                findAllRegion();







                        $(document).on('click', '.performanceKeywordBtn', function (event) {
                            event.preventDefault();

                            // 현재 버튼이 이미 선택된 상태 확인
                            if ($(this).hasClass('hasLove')) {
                                $(this).removeClass('hasLove');  // 선택 취소 시 클래스를 제거
                            } else {
                                $(this).addClass('hasLove');  // 선택 시 클래스를 추가
                            }

                            // 선택된 모든 버튼을 가져와서 값을 연결
                            var btns = document.querySelectorAll('button.performanceKeywordBtn.hasLove');
                            var concat = '';

                            btns.forEach(function (btn) {
                                concat += (btn.value + " ");
                            });

                            // 연결된 값을 숨겨진 input 필드에 저장
                            $('#performanceSelectKeyword').val(concat.trim());


                            console.log('Submitting performanceSelectKeyword:', $('#performanceSelectKeyword').val());
                        });



















                //#endregion


                //#region 선호도 입력 부분 - 축제


                 /**
                 * 축제 키워드를 tf_idf가 높은 순으로 5개씩 가져옴
                 *
                 */
                function findPopularFestivalKeyword(page){

                    $.ajax({

                        url: '/festival/findPopularFestivalKeyword?page='+page,
                        method: 'POST',
                        contentType: 'application/json',
                        success: function(list){
                            console.log("findPopularFestivalKeyword")
                            console.log(list);
<!--                            $('#festivalKeywordBtns').html("");-->

                            $.each(list, function(index, keyword){

                                var htmlContent = `<button value="${keyword.festivalKeywordId}" class="festivalKeywordBtn">${keyword.festivalKeywordId}</button>`;

                                $('#festivalKeywordBtns').append(htmlContent);

                            })

                        }

                    })

                }

                findPopularFestivalKeyword(1);



                /**
                * 축제 키워드 추가 버튼
                *
                */
                $(document).on('click','#addFestivalKeyword', function(){
                    event.preventDefault();
                    var page = parseInt($(this).val());
                    page = page + 1;
                    $(this).val(page);
                    findPopularFestivalKeyword(page);

                })


                /**
                * 축제 키워드 선택 시 색 변화 버튼
                *
                */
                $(document).on('click','.festivalKeywordBtn', function(){

                    event.preventDefault();

                    if($(this).hasClass('hasLove')){

                        $(this).removeClass('hasLove');

                    }else{

                        $(this).addClass('hasLove');

                    }

                    var btns = document.querySelectorAll('button.festivalKeywordBtn.hasLove');

                    var concat = '';

                    btns.forEach(function(btn){

                        concat += (btn.value+",");

                    })

                    $('#festivalSelectKeyword').val(concat.trim());



                })


                //#endregion



                //#region 선호도 입력 부분 - 전시


                 /**
                 * 전시 키워드를 frequency가 높은 순으로 5개씩 가져옴
                 *
                 */
                function findPopularExhibitionKeyword(cursor){
                    console.log("first cursor : ")
                    console.log(cursor);
                    cursor = cursor.toString().padStart(20,'0');
                    console.log(cursor);

                    $.ajax({

                        url: '/exhibition/exhibition/keyword?',
                        method: 'GET',
                        data: {

                            cursor : cursor

                        },
                        contentType: 'application/json',
                        success: function(result){

                            var keywords = result.data;
                            var nextCursor = result.nextCursor;
                            console.log("nextCursor");
                            console.log(nextCursor);
                            $('#addExhibitionKeyword').val(nextCursor);

                            $.each(keywords, function(index, keyword){

                                var htmlContent = `<button value="${keyword.keyword}" class="exhibitionKeywordBtn">${keyword.keyword}</button>`;

                                $('#exhibitionKeywordBtns').append(htmlContent);


                            })

                        }

                    })

                }

                findPopularExhibitionKeyword("");



                /**
                * 전시 키워드 추가 버튼
                *
                */
                $(document).on('click','#addExhibitionKeyword', function(){
                    event.preventDefault();
                    var cursor = parseInt($(this).val());
                    findPopularExhibitionKeyword(cursor);

                })


                /**
                * 전시 키워드 선택 시 색 변화 버튼
                *
                */
                $(document).on('click','.exhibitionKeywordBtn', function(){

                    event.preventDefault();

                    if($(this).hasClass('hasLove')){

                        $(this).removeClass('hasLove');

                    }else{

                        $(this).addClass('hasLove');

                    }

                    var btns = document.querySelectorAll('button.exhibitionKeywordBtn.hasLove');

                    var concat = '';

                    btns.forEach(function(btn){

                        concat += (btn.value+" ");

                    })

                    $('#exhibitionSelectKeyword').val(concat.trim());



                })






                /**
                * 문화재 키워드 조회
                *
                */
                let excludedKeywordIds = []; // 제외할 키워드 ID를 저장할 배열
                const limit = 5; // 한 번에 가져올 키워드 수

                function fetchKeywords() {
                    $.ajax({
                        url: '/admin/cultural-properties-regulate/keywords',
                        method: 'GET',
                        data: {
                            limit: limit,
                            excludedKeywordIds: excludedKeywordIds
                        },
                        dataType: 'json',
                        success: function(response) {
                            console.log("Fetched keywords:", response);
                            if (Array.isArray(response)) {
                                displayCulturalPropertiesKeywords(response);
                                // 현재 가져온 키워드를 제외 목록에 추가
                                excludedKeywordIds = excludedKeywordIds.concat(response.map(keyword => keyword.keyword_id));
                            } else {
                                console.error('Received data is not an array:', response);
                                alert('키워드를 불러오는 데 문제가 발생했습니다.');
                            }
                        },
                        error: function(xhr, status, error) {
                            console.error('Error status:', status);
                            console.error('Error thrown:', error);
                            console.error('Response text:', xhr.responseText);
                            alert('키워드를 불러오는 데 실패했습니다.');
                        }
                    });
                }


                function displayCulturalPropertiesKeywords(keywords) {
                    const keywordZone = $('#culturalPropertiesKeywordBtns');
                    keywords.forEach(keyword => {
                        const btn = $('<button>')
                            .addClass('culturalPropertiesKeywordBtn')
                            .text(keyword.keyword)
                            .attr('data-id', keyword.keyword_id)
                            .on('click', function(e) {
                                e.preventDefault();
                                selectCulturalPropertiesKeyword($(this));
                            });
                        keywordZone.append(btn);
                    });
                }

                function selectCulturalPropertiesKeyword(btn) {
                    btn.toggleClass('hasLove');
                    updateSelectedCulturalPropertiesKeywords();
                }

                function updateSelectedCulturalPropertiesKeywords() {
                    const selectedKeywords = $('.culturalPropertiesKeywordBtn.hasLove').map(function() {
                        return $(this).text();
                    }).get().join(',');
                    $('#culturalPropertiesSelectKeyword').val(selectedKeywords);
                }


                // 추가 키워드 버튼 클릭 이벤트
                $('#addCulturalPropertiesKeyword').on('click', function(event) {
                    event.preventDefault();
                    fetchKeywords();
                });

                // 초기 로드 시 키워드 가져오기
                fetchKeywords();









                //#region 회원가입


                /**
                * 회원가입
                *
                * @param {Event} event 제출버튼 클릭 이벤트
                */

                $(document).on('click','#submitBtn', function(event){
                    event.preventDefault();
                    console.log("#createAccount");

                    $('#emailError').text("");
                    $('#passwordError').text("");
                    $('#nameError').text("");

                     var email = $('#email').val();
                     var password = $('#password').val();
                     var userName = $('#userName').val();
                     var smsBool = $('#smsBool').val();

                     if(smsBool == "false"){

                        alert("문자 인증이 필요합니다.");
                        return;

                     }


                     if(!validateEmail(email)){

                        $('#emailError').text("이메일은 @를 포함하며 아이디는 대소영문자 숫자 언더바 5자 이상로 이루어져있고 도메인은 대소영문자 3자 이상입니다.");
                        return;
                     }

                     if(!validatePassword(password)){

                        $('#passwordError').text("비밀번호는 5글자 이상의 대소영문자 숫자 언더바로 이루어져있습니다.");
                        return;
                     }

                     if(!validateName(userName)){

                        $('#nameError').text("이름은 3자 이상의 영어 한글 입니다.");
                        return;

                     }

                     // performanceSelectKeyword의 값을 가져옴
                     var performanceSelectKeyword = $('#performanceSelectKeyword').val();


<!--                     var isEmailValid = validateSameEmail(email);-->

<!--                     if(!isEmailValid){-->

<!--                        return;-->

<!--                     }-->


                    var formData = new FormData();

                    var fileInput = document.getElementById('uploadFile');
                    if(fileInput && fileInput.files.length > 0){
                        formData.append('uploadFile', fileInput.files[0]);
                    }

                    formData.append('email', email);
                    formData.append('password', password);
                    formData.append('userName', userName);

                    var tel = $('#tel').val();
                    formData.append('tel', tel);

                    var userAge = $('#userAge').val();
                    formData.append('userAge', userAge);

                    var gender = document.getElementById('gender').options[document.getElementById('gender').selectedIndex].value;
                    formData.append('gender', gender);

                    var regionId = document.getElementById('regionId').options[document.getElementById('regionId').selectedIndex].value;
                    formData.append('regionId', regionId);

                    var festivalSelectKeyword = $('#festivalSelectKeyword').val();
                    formData.append('festivalSelectKeyword',festivalSelectKeyword);

                    var exhibitionSelectKeyword = $('#exhibitionSelectKeyword').val();
                    formData.append('exhibitionSelectKeyword',exhibitionSelectKeyword);

                    var culturalPropertiesSelectKeyword = $('#culturalPropertiesSelectKeyword').val();
                    formData.append('culturalPropertiesSelectKeyword', culturalPropertiesSelectKeyword);

                    formData.append('performanceSelectKeyword', performanceSelectKeyword);



                    console.log(regionId);
                    console.log(email);

                    $.ajax({

                        url: '/user/signUp',
                        method: 'POST',
                        data: formData,
                        processData: false,
                        contentType: false,
                        success: function(){
                            alert("회원가입되었습니다. 로그인하세요.");
                            window.location = "/user/login";
                        },
                        error: function(xhr, status, error){

                            alert('회원가입 실패');

                        }
                    })
                })



                /**
                * 이메일 검증
                * @param {string} email 검증할 이메일 주소
                * @returns {boolean} 이메일이 유효한 경우 true, 아닐 경우 false
                * @example
                * dkswldus31@naver.com
                */
                function validateEmail(email){
                    console.log("validateEmail")
                    const emailPattern = /^[a-zA-Z0-9_]{5,}@[a-zA-Z]{3,}\.com$/;
                    console.log(emailPattern.test(email))
                    return emailPattern.test(email);
                }


                /**
                * 비밀번호 검증
                * @param {string} password 검증할 비밀번호
                * @returns {boolean} 비밀번호가 유효한 경우 true, 아닐 경우 false
                * @example
                * wldus31
                */
                function validatePassword(password){

                    const passwordPattern = /^[a-zA-Z0-9_]{5,}$/;
                    return passwordPattern.test(password);

                }


                /**
                *  이름 검증
                * @param {string} name 검증할 이름
                * @returns {boolean} 이름이 유효한 경우 true, 아닐 경우 false
                * @example
                * 안지연
                */
                function validateName(name){
                    console.log("validatename")
                    const namePattern = /^[a-zA-Z가-힣]{3,}$/;
                    console.log(namePattern.test(name))
                    return namePattern.test(name);
                }





                /**
                * 이메일 중복 검증
                * @param {string} email 검증할 이메일
                * @returns {boolean} 이메일이 안겹칠경우 true, 겹칠 경우 false
                *
                */
                function validateSameEmail(email){
                    return new Promise((resolve, reject) => {
                        $.ajax({
                            url: '/user/validateSameEmail',
                            method: 'POST',
                            data: {
                                email : email
                            },
                            success: function(user){

                                if(user){

                                    alert("이메일이 존재합니다.")
                                    resolve(false);

                                }else{

                                    alert("중복되지 않는 이메일입니다.")
                                    resolve(true);
                                }

                            },
                            error: function(xhr, status, error){

                                alert('같은 이메일 확인 실패');
                                return(false);

                            }
                        })
                    })
                }



                /**
                * 이메일 중복 검증 버튼
                *
                */
                $(document).on('click','#emailValidate', function(){

                    event.preventDefault();
                    var email = $('#email').val();
                    validateSameEmail(email);

                })




                /**
                * 번호 양식 자동으로 변경
                *
                */
                document.getElementById('tel').addEventListener('blur',function(){

                    let input = this.value.replace(/\D/g,'');

                    if (input.length >11){

                        this.value = input.substring(0,11).replace(/(\d{3})(\d{4})(\d{4})/,'$1-$2-$3');

                    }else if(input.length < 11){

                        this.value = input.padEnd(11,'0').replace(/(\d{3})(\d{4})(\d{4})/,'$1-$2-$3');

                    }else{

                        this.value = input.replace(/(\d{3})(\d{4})(\d{4})/,'$1-$2-$3');

                    }

                })




                /**
                * 전화 검증 버튼
                *
                */
                $(document).on('click','#telValidate', function(){

                    event.preventDefault();
                    var tel = $('#tel').val();
                    validateTel(tel);

                })


                /**
                * 전화번호 인증 문자 받기
                * @param {string} tel 검증할 전화번호
                * @returns {boolean} 인증 성공 시 true, 인증 실패 시 false
                *
                */
                function validateTel(tel){
                    return new Promise((resolve, reject) => {
                        $.ajax({
                            url: '/sms/send-one',
                            method: 'POST',
                            data: {
                                toNumber : tel
                            },
                            success: function(response){

                                alert(response);
                                resolve();

                            },
                            error: function(xhr, status, error){

                                alert('문자 인증 오류 발생!');
                                return(false);

                            }
                        })
                    })
                }



                /**
                * 문자 인증 버튼
                *
                */
                $(document).on('click','#telValidate2', function(){

                    event.preventDefault();
                    var tel = $('#tel').val();
                    var authNum = $('#authNum').val();
                    validateSMS(tel, authNum);

                })


                /**
                * 전화번호 인증 번호 확인
                * @param {string} authNum 검증할 번호
                * @returns {boolean} 인증 성공 시 true, 인증 실패 시 false
                *
                */
                function validateSMS(tel, authNum){
                    return new Promise((resolve, reject) => {
                        $.ajax({
                            url: '/sms/validateNum',
                            method: 'POST',
                            data: {
                                tel : tel,
                                authNum : authNum
                            },
                            success: function(bool){

                                if(bool === true){
                                    $('#smsBool').val("true");
                                    alert("전화번호 인증 성공!!")
                                    resolve(true);

                                }else{
                                    alert("전화번호 인증 실패")
                                    resolve(false);

                                }
                            },
                            error: function(xhr, status, error){

                                alert('문자 인증 오류 발생!');
                                reject();

                            }
                        })
                    })
                }


                //#endregion





            }
        )


    </script>
</head>
<body>

<div layout:fragment="content">

    <div id="realContent">

        <div id="signUp">

            <h1>Registration Form</h1><br><br>

            <!-- 빨간색 주석: 추가된 컨테이너 div -->
            <div id="formContainer">
                <div id="leftSection">

                    <div id="profileImg">

                        <img class="profileImg round" src="/img/festival/noPhoto.png" alt="이미지가 없습니다">

                    </div>

                    <label for="uploadFile">
                        <!--                        사진-->
                    </label>
                    <input name="uploadFile" class="rounded" id="uploadFile" type="file" accept="image/*" ><br>

                </div>


                <form id="basicForm" method="post" style="font-size: 20px;color: #615757;" encType="multipart/form-data">

                    <div style="display: flex;flex-flow: column;justify-content: center;align-items: center;">


                        <div id="rightSection">

                            <div id="basicZone">

                                <!--                        <label for="uploadFile">사진</label>-->
                                <!--                        <input name="uploadFile" class="rounded" id="uploadFile" type="file" accept="image/*"><br>-->



                            <label for="email"  class="erequired">이메일</label>

                            <div class="email-group">

                                <input name="email" id="email" class="rounded" placeholder="dkswldus@gmail.com" required
                                       pattern="^[a-zA-Z0-9_]{5,}@[a-zA-Z]{3,}\.com$">
                                <button id="emailValidate" type="button" class="btn btn-outline-success" style="height: 45px;">중복확인</button>
                                <span id="emailError" class="error"></span><br>

                            </div>

                            <label for="password"  class="prequired">비밀번호</label>
                            <input name="password" id="password" class="rounded" type="password" placeholder="5자리 이상" required
                                   pattern="^[a-zA-Z0-9_]{5,}$">
                            <span id="passwordError" class="error"></span><br>

                            <label for="userName"  class="urequired">이름</label>
                            <input name="userName" id="userName" class="rounded" placeholder=""
                                    required pattern="^[a-zA-Z가-힣]{3,}$">
                            <span id="nameError" class="error"></span><br>



                            <label for="tel"  class="trequired">전화번호</label>

                            <div class="tel-group">

<!--                                <input name="tel" id="tel" class="rounded" placeholder="010-0000-1234"-->
<!--                                   pattern="[0-9]{3}-[0-9]{4}-[0-9]{4}" value="010-0000-0000"  required>-->
                                <input name="tel" id="tel" class="rounded" placeholder="010-0000-0000"
                                       pattern="[0-9]{3}-[0-9]{4}-[0-9]{4}" value=""  required>

                                <button id="telValidate" type="button" class="btn btn-outline-success" style="height: 45px;">문자인증</button>

                                <input name="authNum" id="authNum" class="rounded" placeholder="4자리 인증번호" type="number" pattern="\d{4}" value="" required style="width: 80px;">
    <!--                        <button id="telValidate" type="button" class="btn btn-outline-success" style="height: 44px;">문자인증</button>-->
                                <button id="telValidate2" type="button" class="btn btn-outline-success" style="height: 45px;">인증하기</button>
                                <input type="hidden" value="false" id="smsBool">

                            </div>

                            <br>

                            <label for="userAge">나이</label>
                            <input name="userAge" id="userAge" class="rounded" placeholder="" type="number" min="1" max="100"
                                   value="1"><br>

                            <label for="gender">성별</label>
                            <select name="gender" id="gender" class="rounded">
                                <option value="남">남</option>
                                <option value="여">여</option>
                            </select><br>

                            <label for="regionId">지역</label>
                            <select name="regionId" id="regionId" class="rounded"></select><br><br>


                        </div>

                    </div>

<!--                    <div id="culturalPropertiesKeywordZone">-->
<!--                        <input type="hidden" id="culturalPropertiesSelectKeyword" name="culturalPropertiesSelectKeyword"-->
<!--                               value="">-->
<!--                        <div id="culturalPropertiesCategoryBtns"></div>-->
<!--                        <div id="culturalPropertiesKeywordBtns">-->
<!--                        </div>-->

<!--                        <button id="addCulturalPropertiesKeyword" class="btn btn-outline-success" value="1">문화재 키워드 추가-->
<!--                        </button>-->
<!--                    </div>-->

                </div>
<!--            </div>-->

                </form>
            </div>


                <div id="keywordSection">

            <!--                    <div style="width: 80%;">-->

            <!--                        <button type="submit" class="btn btn-outline-success"-->
            <!--                                style="color: white;background-color: green;width: 100%;margin-top: 50px;">제출-->
            <!--                        </button>-->

            <!--                    </div>-->

            <!--            <div style="width: 100%; position: relative;">-->
            <!--                <button type="submit" class="btn btn-outline-success">제출</button>-->
            <!--            </div>-->
            <!--            <br><br><br>-->
            <!--            <button type="submit" class="btn btn-outline-success">제출</button>-->

            <!--                </div>-->
                    <div id="keyZone">

                        <div id="performanceKeywordZone">

                            <input type="hidden" id="performanceSelectKeyword" name="performanceSelectKeyword" value="">

                            <div id="performanceKeywordBtns">
                                <button value="연극" class="performanceKeywordBtn">연극</button>
                                <button value="무용" class="performanceKeywordBtn">무용</button>
                                <button value="대중무용" class="performanceKeywordBtn">대중무용</button>
                                <button value="서양음악(클래식)" class="performanceKeywordBtn">서양음악</button>
                                <button value="한국음악(국악)" class="performanceKeywordBtn">한국음악</button>
                                <button value="대중음악" class="performanceKeywordBtn">대중음악</button>
                                <button value="복합" class="performanceKeywordBtn">복합</button>
                                <button value="서커스/마술" class="performanceKeywordBtn">서커스/마술</button>
                                <button value="뮤지컬" class="performanceKeywordBtn">뮤지컬</button>
                            </div>


                            <button id="addPerformanceKeyword" class="btn btn-outline-success" value="1" disabled>공연 키워드</button>

                        </div>

                        <div id="festivalKeywordZone">

                            <input type="hidden" id="festivalSelectKeyword" name="festivalSelectKeyword" value="">

                            <div id="festivalKeywordBtns">

                            </div>

                            <button id="addFestivalKeyword" class="btn btn-outline-success" value="1">축제 키워드 추가</button>


                        </div>

                        <div id="exhibitionKeywordZone">

                            <input type="hidden" id="exhibitionSelectKeyword" name="exhibitionSelectKeyword" value="">

                            <div id="exhibitionKeywordBtns">

                            </div>

                            <button id="addExhibitionKeyword" class="btn btn-outline-success" value="0">전시 키워드 추가</button>


                        </div>

                        <div id="culturalPropertiesKeywordZone">
                            <input type="hidden" id="culturalPropertiesSelectKeyword" name="culturalPropertiesSelectKeyword"
                                   value="">
                            <div id="culturalPropertiesCategoryBtns"></div>
                            <div id="culturalPropertiesKeywordBtns">
                            </div>

                            <button id="addCulturalPropertiesKeyword" class="btn btn-outline-success" value="1">문화재 키워드 추가
                            </button>
                        </div>

                    </div>
                </div>


    <!--                    <div style="width: 80%;">-->

    <!--                        <button type="submit" class="btn btn-outline-success"-->
    <!--                                style="color: white;background-color: green;width: 100%;margin-top: 50px;">제출-->
    <!--                        </button>-->

    <!--                    </div>-->

    <!--            <div style="width: 100%; position: relative;">-->
    <!--                <button type="submit" class="btn btn-outline-success">제출</button>-->
    <!--            </div>-->
    <!--            <br><br><br>-->
    <!--            <button type="submit" class="btn btn-outline-success">제출</button>-->

    <!--                </div>-->


<!--                </form>-->
<!--            </div>-->





                <br><br><br><br>
                <div style="display: flex;flex-flow: column;justify-content: center;align-items: end;">
                    <button type="button" class="btn btn-success" style="width: 12%;height: 45px; margin-right: 35px; width: 12%; height: 45px; margin-right: 35px;" id="submitBtn">제출</button>

                </div>

<!--                <br><br>-->


            </div>
        <br><br>


        </div>
</div>


</body>
</html>