<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.multi.culture_link.performance.mapper.PerformanceReviewMapper">

    <select id="getAllReviews" resultType="com.multi.culture_link.performance.model.dto.PerformanceReviewDTO">
        SELECT *
        FROM performance_review
    </select>










    <select id="findReviewsByPerformanceId" resultType="com.multi.culture_link.performance.model.dto.PerformanceReviewDTO">
        SELECT *
        FROM performance_review
        WHERE performance_id = #{performanceId}
    </select>

    <insert id="insertReview" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO performance_review (user_id, performance_id, star_rating, content, review_date, created_at, updated_at)
        VALUES (#{userId}, #{performanceId}, #{starRating}, #{content}, #{reviewDate}, NOW(), NOW())
    </insert>

    <update id="updateReview">
        UPDATE performance_review
        SET star_rating = #{starRating},
        content = #{content},
        updated_at = NOW()
        WHERE id = #{id}
    </update>

    <delete id="deleteReview">
        DELETE FROM performance_review WHERE id = #{id}
    </delete>

</mapper>
