<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.multi.culture_link.performance.mapper.PerformanceReviewMapper">

    <select id="getAllReviews" resultType="com.multi.culture_link.performance.model.dto.PerformanceReviewDTO">
        SELECT *
        FROM performance_review
    </select>

    <select id="getReviewsByPerformanceId" parameterType="int" resultType="com.multi.culture_link.performance.model.dto.PerformanceReviewDTO">
        SELECT *
        FROM performance_review
        WHERE performance_id = #{performanceId}
    </select>

    <insert id="insertReview">
        INSERT INTO performance_review (user_id, performance_id, date_time, star_rating, content, review_date, created_at, updated_at)
        VALUES (#{userId}, #{performanceId}, #{dateTime}, #{starRating}, #{content}, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP)
    </insert>

    <update id="updateReview">
        UPDATE performance_review
        SET date_time = #{dateTime},
            star_rating = #{starRating},
            content = #{content},
            review_date = #{reviewDate},
            updated_at = CURRENT_TIMESTAMP
        WHERE id = #{id}
    </update>

    <delete id="deleteReview" parameterType="int">
        DELETE FROM performance_review
        WHERE id = #{id}
    </delete>

</mapper>
