<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5" layout:decorate="~{/common/layout/layoutAdminPage}">
<head>
    <link rel="stylesheet" th:href="@{/css/performance/performanceRegulate.css}">
</head>
<body>
<div layout:fragment="content2">
    <div id="performanceRegulate">
        <h2>공연 DB 현황</h2>
        <table class="table table-striped" id="performanceDB">
            <thead class="table-light">
            <tr>
                <th scope="col">선택</th>
                <th scope="col">#</th>
                <th scope="col">이미지</th>
                <th scope="col">TITLE</th>
                <th scope="col">장소</th>
                <th scope="col">날짜</th>
            </tr>
            </thead>
            <tbody id="list1"></tbody>
        </table>
        <div id="pageNum1"></div>
        <div class="button-container">
            <button id="dbDeleteBtn">DB 삭제</button>
        </div>

        <br><br><br><br><br><br>

        <h2>전국 공연 실시간</h2>
        <table class="table table-striped" id="performanceAPI">
            <thead class="table-light">
            <tr>
                <th scope="col">선택</th>
                <th scope="col">#</th>
                <th scope="col">이미지</th>
                <th scope="col">TITLE</th>
                <th scope="col">장소</th>
                <th scope="col">날짜</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="performance, stat : ${performances}">
                <td><input type="checkbox" th:value="${performance.id}"></td>
                <td th:text="${stat.index + 1}"></td>
                <td><img th:src="${performance.poster}" alt="Poster" width="50"></td>
                <td th:text="${performance.title}"></td>
                <td th:text="${performance.venue}"></td>
                <td th:text="${performance.startDate} + ' - ' + ${performance.endDate}"></td>
            </tr>
            </tbody>
        </table>
        <div id="pageNum2" class="pagination">
            <!-- 페이지네이션 부분 시작 -->
            <div class="pagination-container">
                <!-- 이전 페이지 버튼 -->
                <span th:if="${currentPage > 0}" class="page-arrow">
                    <a th:href="@{|/admin/performance-regulate?page=${currentPage - 1}&size=20|}">
                        &lt;
                    </a>
                </span>
                <!-- 페이지 번호 -->
                <span th:each="i : ${#numbers.sequence(0, totalPages - 1)}"
                      th:if="${i < 10 or (i >= currentPage and i < currentPage + 10)}"
                      th:classappend="${i == currentPage} ? 'active page-number' : 'page-number'">
                    <a th:href="@{|/admin/performance-regulate?page=${i}&size=20|}" th:text="${i + 1}"></a>
                </span>
                <!-- "..." 표시 -->
                <span th:if="${currentPage + 10 < totalPages}" class="page-ellipsis">...</span>
                <!-- 다음 페이지 버튼 -->
                <span th:if="${currentPage < totalPages - 1}" class="page-arrow">
                    <a th:href="@{|/admin/performance-regulate?page=${currentPage + 1}&size=20|}">
                        &gt;
                    </a>
                </span>
            </div>
            <!-- 페이지네이션 부분 끝 -->
        </div>
        <div class="button-container">
            <button id="apiInsertBtn">DB에 추가</button>
        </div>
    </div>
</div>
</body>
</html>
