<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.multi.culture_link.users.model.mapper.UserMapper">

    <select id="findUserByEmail">

        SELECT *

        FROM vw_user_role_data

        WHERE email=#{email};

    </select>


    <insert id="insertUser" parameterType="userDTO">

        INSERT INTO user(user_id, email, password, user_age, user_name, tel, gender, region_id, user_profile_pic)
        VALUES(#{userId},#{email},#{password},#{userAge},#{userName},#{tel},#{gender},#{regionId},#{userProfilePic});

    </insert>


    <delete id="deleteUserAccount">

        DELETE FROM user
        WHERE user_id = ${userId};

    </delete>

    <update id="updateUserAccount">

        UPDATE user
        SET
            email = #{email},
            password = #{password},
            user_age = #{userAge},
            user_name = #{userName},
            tel = #{tel},
            gender = #{gender},
            region_id = #{regionId},
            user_profile_pic = #{userProfilePic}
        WHERE user_id = #{userId};

    </update>


</mapper>