/*body {*/
/*    font-family: Arial, sans-serif;*/
/*    line-height: 1.6;*/
/*    margin: 0;*/
/*    padding: 0;*/
/*}*/
p {
    width: 100%;
    word-wrap: break-word;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 30px;
}

.main-content {
    display: flex;
    gap: 20px;
}

.left-section {
    width: 330px;
}

.right-section {
    flex: 1;
}

.exhibition-image {
    width: 330px;
    height: 440px;
    padding: 24px;
    background: white;
    border-radius: 8px;
    border: 1px #D9D9D9 solid;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.exhibition-image img {
    width: 300px;
    height: 400px;
    object-fit: cover;
}

header {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

#exhibitionTitle {
    color: #1E1E1E;
    font-size: 24px;
    font-weight: bold;
}

.exhibition-info {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.exhibition-info p {
    font-size: 20px;
    font-weight: 300;
    color: black;
}

.action-buttons {
    display: flex;
    gap: 10px;
    margin-top: 16px;
    font-weight: 700;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    position: relative;
    top: 95px;
    right: 157px;
    opacity: 0.8;

}

.action-btn {
    width: 50px;
    height: 42px;
    border-radius: 5px;
    /*border: 1px #45414A solid;*/
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-weight: 600;
    background-color: white;
    border-style: none;
}

.tab-menu {
    display: flex;
    gap: 8px;
    margin: 20px 0;
    justify-content: flex-start;
}

.tab-menu button {
    padding: 12px;
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
    width: 138px;
    background: #D9D9D9;
    border: 1px #F5F5F5 solid;
}

.tab-menu button.active {
    background-color: #7f7f7f;
    color: white;
}

#content {
    padding: 24px;
    background: white;
    border-radius: 8px;
    border: 1px #D9D9D9 solid;
}

.content-section {
    display: none;
}

.content-section.active {
    display: block;
}

.reviews-section, .artwork-analyze {
    margin-top: 40px;
}

/*.analyze {*/
/*    position: relative;*/
/*    margin-bottom: 20px;*/
/*    padding: 10px;*/
/*    border: 1px solid #ddd;*/
/*    border-radius: 5px;*/
/*}*/

/*.analyze-image {*/
/*    width: 15%;*/
/*    margin-left: 10px; !* 텍스트와 이미지 사이 간격 *!*/
/*    float: right; !* 이미지를 오른쪽으로 정렬 *!*/
/*}*/

/*.analyze-image img {*/
/*    width: 100%;*/
/*    height: auto;*/
/*    object-fit: cover;*/
/*}*/

#analyzeTextarea {
    width: 100%;
    height: 200px;
    border-color: gray;
}

.analyze {
    position: relative;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    overflow: hidden;
}

.analyze-content {
    display: flex;
    align-items: flex-start;
    margin-bottom: 40px; /* 텍스트와 버튼 사이 간격 */
}


.analyze-text-content {
    width: 100%;
    flex: 1;
}

.analyze-text {
    font-size: 14px;
}

.analyze-image {
    width: 15%;
    margin-left: 10px; /* 텍스트와 이미지 사이 간격 */
}

.analyze-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.star-rating {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.star {
    cursor: pointer;
    font-size: 30px;
}

.star:before {
    content: '☆';
    color: #ddd;
}

.star.filled:before {
    content: '★';
    color: #ffca08;
}

#commentTextarea, #analyzeTextarea {
    width: 100%;
    height: 150px;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
}

#artworkTextarea {
    margin-top: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

#saveCommentBtn, #saveAnalyzeBtn {
    /*background-color: #ffb5b5;*/
    /*color: white;*/
    /*border: none;*/
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.keyword-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
}

.keyword {
    background-color: #cff7d3;
    color: #02542d;
    padding: 8px 15px;
    border-radius: 15px;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
}


.review {
    border: 1px solid #e0e0e0;
    padding: 15px;
    margin-bottom: 15px;
}

.review-top {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    position: relative;
    width: 100%;
}

.profile-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
}

.review-info {
    flex-grow: 1;
}

.review-name {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
}

.review-date {
    margin: 5px 0;
    font-size: 14px;
    color: #666;
}

.review-rating {
    color: #ffd700;
    font-size: 18px;
}

.review-bottom {
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 1rem;
    width: 100%;
}

.review-text {
    font-size: 14px;
    margin: 0;
}

.delete-review {
    position: absolute;
    top: 0;
    right: 0;
    /*background-color: #ffb5b5;*/
    /*color: white;*/
    /*border: none;*/
    padding: 5px 10px;
    cursor: pointer;
    font-size: 12px;
}

#imageUploadBtn {
    /*background-color: #ffb5b5;*/
    /*color: white;*/
    /*border: none;*/
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.interested-img {
    width: 100%;
}

.pagination {
    margin-top: 20px;
    text-align: center;
}

.pagination button {
    padding: 5px 10px;
    margin: 0 5px;
    border: 1px solid #ddd;
    background-color: white;
    cursor: pointer;
}

/*.페이징 색깔*/
.page-btn.active {
    background: #D9D9D9;
}

/*.pagination.active {*/
/*    background-color: #7f7f7f;*/
/*    color: white;*/
/*}*/


.like-dislike-container {
    display: flex;
    justify-content: center; /* 가운데 정렬 */
    align-items: center;
    gap: 10px; /* 아이콘 사이의 간격 */
    margin-top: 20px; /* 카드와 버튼 사이에 간격 추가 */
}

.like-dislike-icon {
    width: 30px; /* 이미지 너비 */
    height: 30px; /* 이미지 높이 */
    cursor: pointer; /* 클릭할 수 있는 커서 */
    pointer-events: auto; /* 클릭 이벤트를 허용 */
}

.analyze-username {
    margin: 5px 0;
    font-size: 14px;
    color: #666;
}

.analyze-artwork {
    margin: 0;
    font-size: 16px;
    font-weight: bold
}

.analyze-buttons {
    display: flex;
    gap: 10px;
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.update-analyze,
.delete-analyze {
    /* 버튼 스타일링 */
}

.analyze-edit {
    margin-top: 20px;
}

#writeComment, #writeAnalyze {
    background-color: #ecf0f1;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    max-width: 1500px;
    margin: 0 auto;
}