body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 30px;
}

header {
    text-align: left;
    margin-bottom: 20px;
}

.exhibition-info {
    color: #666;
}

.exhibition-image img {
    width: 80%;
    /*max-height: 500px;*/
    object-fit: cover;
}

.map-section, .video-section {
    margin: 20px 0;
}

#map {
    height: 300px;
    width: 100%;
}

.reviews-section {
    margin-top: 40px;
}

.title-and-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.review {
    display: flex;
    margin-bottom: 20px;
}

.reviewer-image {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 20px;
}

.review-content {
    flex: 1;
}

.review-rating {
    color: gold;
}

.related-exhibitions {
    margin-top: 40px;
}

.related-exhibition-list {
    display: flex;
    overflow-x: auto;
}

button {
    margin: 3px;
}

.main-content {
    display: flex;
    gap: 20px;
}

.left-section {
    flex: 1;
}

.right-section {
    flex: 1;
}

.content-section {
     display: none;
 }
.content-section.active {
    display: block;
}
.tab-menu button.active {
    background-color: #ddd;
}

#content{
    width: 100%;
    border:1px solid rgba(0, 0, 0, 0.07);
}

.background-pink {
    background-color: #ffe5ea;
}

.background-gray {
    background-color: #dfdfdf;
}

.action-buttons{
    margin-left: auto;
}

.display-flex{
    display: flex;
    flex-direction: column;
}

.display-flex > div {
    width: 100%;
}

#commentTextarea {
    width: 100%;
    height: 200px;
    border-color: gray;
}

#analyzeTextarea {
    width: 100%;
    height: 200px;
    border-color: gray;
}

.analyze {
    position: relative;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden; /* 내부 요소가 넘치지 않도록 */
}

.analyze-content {
    display: flex;
    align-items: flex-start;
}

.analyze-text-content {
    flex: 1;
}

.analyze-image {
    width: 15%;
    margin-left: 10px; /* 텍스트와 이미지 사이 간격 */
    float: right; /* 이미지를 오른쪽으로 정렬 */
}

.analyze-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.update-analyze,
.delete-analyze {
    margin-top: 10px;
}

.edit-content{
    width: 100%;
    height: 200px;
    border-color: gray;
}


.star-rating {
    font-size: 0;
}
.star {
    cursor: pointer;
    font-size: 30px;
}
.star:before {
    content: '☆';
}
.star.filled:before {
    content: '★';
}
.review {
    position: relative;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.delete-review {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
}
.delete-review:hover {
    background-color: #ff1a1a;
}
#videoContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.video-item {
    width: calc(50% - 10px);
}

.video-item img {
    width: 100%;
    height: auto;
}

.video-item p {
    margin-top: 5px;
    font-size: 20px;
}

.pagination {
    margin-top: 20px;
    text-align: center;
}

.page-btn {
    margin: 0 5px;
    padding: 5px 10px;
    border: 1px solid #ddd;
    background-color: #f8f8f8;
    cursor: pointer;
}

.page-btn.active {
    background-color: #007bff;
    color: white;
}

.keyword-container {
    display: flex;
    justify-content: left;
    gap: 10px;
    margin-top: 20px;
}
.keyword {
    background-color: #f0f0f0;
    color: #333;
    padding: 8px 15px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
}
.keyword:hover {
    background-color: #e0e0e0;
}