<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.multi.culture_link.admin.culturalProperties.model.dao.AdminCulturalPropertiesDAO">

    <resultMap id="culturalPropertiesResultMap"
               type="com.multi.culture_link.admin.culturalProperties.model.dto.CulturalPropertiesDTO">
        <!-- List<String> imgUrl 매핑 -->
        <result property="imgUrl" column="img_url" jdbcType="VARCHAR" javaType="java.util.List"
                typeHandler="com.multi.culture_link.admin.culturalProperties.model.dto.StringListTypeHandler"/>
        <!-- imgDesc 매핑 -->
        <result property="imgDesc" column="img_desc" jdbcType="VARCHAR"/>
        <!-- videoUrl 매핑 -->
        <result property="videoUrl" column="video_url" jdbcType="VARCHAR"/>
        <!-- narrationUrl 매핑 -->
        <result property="narrationUrl" column="narration_url" jdbcType="VARCHAR"/>
    </resultMap>


    <insert id="insertDB" parameterType="culturalPropertiesDTO" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO cultural_properties (
        category_code, management_number, city_code, category_name, cultural_properties_name,
        address, region, district, dynasty, registration_date, longitude, latitude,
        classify_a, classify_b, classify_c, classify_d, content, main_img_url, img_url,
        img_desc, video_url, narration_url
        )
        VALUES (
        #{categoryCode}, #{managementNumber}, #{cityCode}, #{categoryName}, #{culturalPropertiesName},
        #{address}, #{region}, #{district}, #{dynasty}, #{registrationDate}, #{longitude}, #{latitude},
        #{classifyA}, #{classifyB}, #{classifyC}, #{classifyD}, #{content}, #{mainImgUrl}, #{imgUrl},
        #{imgDesc}, #{videoUrl}, #{narrationUrl}
        )
    </insert>


    <select id="selectDB" resultType="culturalPropertiesDTO">
        SELECT *
        FROM( SELECT ROW_NUMBER() OVER(ORDER BY id DESC) AS rownum, c.*
        FROM cultural_properties c) c2
        WHERE c2.rownum BETWEEN ${start} AND ${end}

    </select>


    <select id="selectCount" resultType="Integer">
        select count(*) from cultural_properties
    </select>



    <select id="searchDBCulturalProperties" resultType="culturalPropertiesDTO">
        SELECT *
        FROM cultural_properties
        <where>
            <if test="category != null and category != '' and category != 'all'">
                category_name = #{category}
            </if>
            <if test="name != null and name != ''">
                <if test="category == null or category == '' or category == 'all'">
                    cultural_properties_name LIKE CONCAT('%', #{name}, '%')
                </if>
                <if test="category != null and category != '' and category != 'all'">
                    AND cultural_properties_name LIKE CONCAT('%', #{name}, '%')
                </if>
            </if>
            <if test="region != null and region != ''">
                AND region LIKE CONCAT('%', #{region}, '%')
            </if>
            <if test="dynasty != null and dynasty != ''">
                AND dynasty LIKE CONCAT('%', #{dynasty}, '%')
            </if>
        </where>
        LIMIT #{start}, #{end}
    </select>

    <select id="searchCountCulturalProperties" resultType="int">
        SELECT COUNT(*)
        FROM cultural_properties
        <where>
            <if test="category != null and category != '' and category != 'all'">
                category_name = #{category}
            </if>
            <if test="name != null and name != ''">
                <if test="category == null or category == '' or category == 'all'">
                    cultural_properties_name LIKE CONCAT('%', #{name}, '%')
                </if>
                <if test="category != null and category != '' and category != 'all'">
                    AND cultural_properties_name LIKE CONCAT('%', #{name}, '%')
                </if>
            </if>
            <if test="region != null and region != ''">
                AND region LIKE CONCAT('%', #{region}, '%')
            </if>
            <if test="dynasty != null and dynasty != ''">
                AND dynasty LIKE CONCAT('%', #{dynasty}, '%')
            </if>
        </where>
    </select>




    <delete id="deleteDBData">
        DELETE FROM cultural_properties

        WHERE id IN
        <foreach item="id" collection="list" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <update id="updateDBData">
        <foreach item="item" collection="list" separator=";">
            UPDATE cultural_properties
            SET
            cultural_properties_name = #{item.culturalPropertiesName},
            category_name = #{item.categoryName},
            region = #{item.region},
            dynasty = #{item.dynasty},
            address = #{item.address},
            registration_date = #{item.registrationDate},
            classify_a = #{item.classifyA},
            classify_b = #{item.classifyB},
            classify_c = #{item.classifyC},
            classify_d = #{item.classifyD}
            WHERE id = #{item.id}
        </foreach>
    </update>


    <select id="findtotalDBData" resultType="culturalPropertiesDTO">

        SELECT * FROM cultural_properties;

    </select>




    <select id="selectById" parameterType="int" resultType="culturalPropertiesDTO">
        SELECT *
        FROM cultural_properties
        WHERE id = #{id}
    </select>

    <update id="updateDB" parameterType="culturalPropertiesDTO">
        UPDATE cultural_properties
        SET
        category_code = #{categoryCode},
        management_number = #{managementNumber},
        city_code = #{cityCode},
        category_name = #{categoryName},
        cultural_properties_name = #{culturalPropertiesName},
        address = #{address},
        region = #{region},
        district = #{district},
        dynasty = #{dynasty},
        registration_date = #{registrationDate},
        longitude = #{longitude},
        latitude = #{latitude},
        classify_a = #{classifyA},
        classify_b = #{classifyB},
        classify_c = #{classifyC},
        classify_d = #{classifyD},
        content = #{content},
        main_img_url = #{mainImgUrl},
        img_url = #{imgUrl},
        img_desc = #{imgDesc},
        video_url = #{videoUrl},
        narration_url = #{narrationUrl}

        WHERE
        id = #{id}
    </update>


    <select id="findAll" resultType="culturalPropertiesDTO">
        SELECT *
        FROM cultural_properties
    </select>

    <delete id="deleteDBDataAndKeywords">
        DELETE cp, cpk
        FROM cultural_properties cp
        LEFT JOIN cultural_properties_content_keyword cpk ON cp.id = cpk.cultural_properties_id
        WHERE cp.id IN
        <foreach item="id" collection="list" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>






</mapper>