<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.multi.culture_link.admin.culturalProperties.model.dao.AdminCulturalPropertiesDAO">

    <resultMap id="culturalPropertiesResultMap"
               type="com.multi.culture_link.admin.culturalProperties.model.dto.CulturalPropertiesDTO">
        <!-- List<String> imgUrl 매핑 -->
        <result property="imgUrl" column="img_url" jdbcType="VARCHAR" javaType="java.util.List"
                typeHandler="com.multi.culture_link.admin.culturalProperties.model.dto.StringListTypeHandler"/>
        <!-- imgDesc 매핑 -->
        <result property="imgDesc" column="img_desc" jdbcType="VARCHAR"/>
        <!-- videoUrl 매핑 -->
        <result property="videoUrl" column="video_url" jdbcType="VARCHAR"/>
        <!-- narrationUrl 매핑 -->
        <result property="narrationUrl" column="narration_url" jdbcType="VARCHAR"/>
    </resultMap>

    <insert id="insertDB" parameterType="culturalPropertiesDTO">
        INSERT INTO cultural_properties (id, category_code, management_number, city_code, cultural_properties_name,
        category_name, region, district, dynasty, address, registration_date, classify_a, classify_b, classify_c,
        classify_d, content, main_img_url, img_url, img_desc, video_url, narration_url, longitude, latitude)
        VALUES (#{id}, #{categoryCode}, #{managementNumber}, #{cityCode}, #{culturalPropertiesName}, #{categoryName},
        #{region}, #{district}, #{dynasty}, #{address}, #{registrationDate}, #{classifyA}, #{classifyB}, #{classifyC},
        #{classifyD}, #{content}, #{mainImgUrl}, #{imgUrl}, #{imgDesc}, #{videoUrl}, #{narrationUrl}, #{longitude},
        #{latitude})
    </insert>


    <select id="selectDB" resultType="culturalPropertiesDTO">
        SELECT *
        FROM( SELECT ROW_NUMBER() OVER(ORDER BY id DESC) AS rownum, c.*
        FROM cultural_properties c) c2
        WHERE c2.rownum BETWEEN ${start} AND ${end}

    </select>


    <select id="selectCount" resultType="Integer">
        select count(*) from cultural_properties
    </select>


    <select id="searchAPI" parameterType="culturalPropertiesDTO" resultType="culturalPropertiesDTO">
        SELECT *
        FROM cultural_properties
        WHERE 1=1
        <if test="searchForm.categoryName != null and searchForm.categoryName != ''">
            AND category_name = #{searchForm.categoryName}
        </if>
        <if test="searchForm.region != null and searchForm.region != ''">
            AND region = #{searchForm.region}
        </if>
        <if test="searchForm.dynasty != null and searchForm.dynasty != ''">
            AND dynasty = #{searchForm.dynasty}
        </if>
        <if test="searchForm.culturalPropertiesName != null and searchForm.culturalPropertiesName != ''">
            AND cultural_properties_name = #{searchForm.culturalPropertiesName}
        </if>
    </select>




    <!-- 문화재 db검색 -->
    <select id="searchDBCulturalProperties" resultType="culturalPropertiesDTO">
        SELECT *
        FROM cultural_properties
        WHERE
        <if test="category != null and !category.equals('all')">
            category_name = #{category}
        </if>
        <if test="name != null and !name.equals('')">
            AND cultural_properties_name LIKE CONCAT('%', #{name}, '%')
        </if>
        <if test="region != null and !region.equals('')">
            AND region LIKE CONCAT('%', #{region}, '%')
        </if>
        <if test="dynasty != null and !dynasty.equals('')">
            AND dynasty LIKE CONCAT('%', #{dynasty}, '%')
        </if>
        LIMIT #{start}, #{end}
    </select>

    <!-- 문화재 db검색 결과의 총 개수 조회 -->
    <select id="searchCountCulturalProperties" resultType="int">
        SELECT COUNT(*)
        FROM cultural_properties
        WHERE
        <if test="category != null and !category.equals('all')">
            category_name = #{category}
        </if>
        <if test="name != null and !name.equals('')">
            AND cultural_properties_name LIKE CONCAT('%', #{name}, '%')
        </if>
        <if test="region != null and !region.equals('')">
            AND region LIKE CONCAT('%', #{region}, '%')
        </if>
        <if test="dynasty != null and !dynasty.equals('')">
            AND dynasty LIKE CONCAT('%', #{dynasty}, '%')
        </if>
    </select>



    <delete id="deleteDBData">
        DELETE FROM cultural_properties

        WHERE id IN
        <foreach item="id" collection="list" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <update id="updateDBData">
        <foreach item="item" collection="list" separator=";">
            UPDATE cultural_properties
            SET
            cultural_properties_name = #{item.culturalPropertiesName},
            category_name = #{item.categoryName},
            region = #{item.region},
            dynasty = #{item.dynasty},
            address = #{item.address},
            registration_date = #{item.registrationDate},
            classify_a = #{item.classifyA},
            classify_b = #{item.classifyB},
            classify_c = #{item.classifyC},
            classify_d = #{item.classifyD}
            WHERE id = #{item.id}
        </foreach>
    </update>


</mapper>