<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.multi.culture_link.admin.culturalProperties.model.dao.CulturalPropertiesKeywordDAO">

    <insert id="save" parameterType="culturalPropertiesKeywordDTO">
        INSERT INTO cultural_properties_content_keyword (cultural_properties_id, keyword)
        VALUES (#{culturalPropertiesId}, #{keyword})
    </insert>

    <insert id="saveAll" parameterType="java.util.List">
        INSERT INTO cultural_properties_content_keyword (cultural_properties_id, keyword)
        VALUES
        <foreach item="keyword" collection="list" separator=",">
            (#{keyword.culturalPropertiesId}, #{keyword.keyword})
        </foreach>
    </insert>

    <select id="existsByCulturalPropertiesId" parameterType="int" resultType="boolean">
        SELECT EXISTS (
        SELECT 1
        FROM cultural_properties_content_keyword
        WHERE cultural_properties_id = #{culturalPropertiesId}
        )
    </select>


    <select id="getReviewContentsByCulturalPropertiesId" parameterType="int" resultType="string">
        SELECT content
        FROM cultural_properties_review
        WHERE cultural_properties_id = #{culturalPropertiesId}
    </select>


    <select id="existsByReviewCulturalPropertiesId" parameterType="int" resultType="boolean">
        SELECT EXISTS (
        SELECT 1
        FROM cultural_properties_review_keyword
        WHERE cultural_properties_id = #{culturalPropertiesId}
        )
    </select>




    <select id="getExistingKeywordIds" resultType="int">
        SELECT id
        FROM cultural_properties_review_keyword
        WHERE cultural_properties_id = #{culturalPropertiesId}
        ORDER BY id
        LIMIT 5
    </select>

    <update id="updateExistingKeywords">
        UPDATE cultural_properties_review_keyword
        SET
        keyword = CASE id
        <foreach collection="keywordList" item="item">
            WHEN #{item.id} THEN #{item.keyword}
        </foreach>
        END,
        updated_at = CURRENT_TIMESTAMP
        WHERE id IN
        <foreach collection="keywordList" item="item" open="(" separator="," close=")">
            #{item.id}
        </foreach>
    </update>

    <insert id="insertNewKeywords">
        INSERT INTO cultural_properties_review_keyword
        (cultural_properties_id, keyword)
        VALUES
        <foreach collection="keywords" item="keyword" separator=",">
            (#{culturalPropertiesId}, #{keyword})
        </foreach>
    </insert>






</mapper>