<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.multi.culture_link.culturalProperties.model.dao.CulturalPropertiesDAO">

    <resultMap id="culturalPropertiesResultMap"
               type="com.multi.culture_link.admin.culturalProperties.model.dto.CulturalPropertiesDTO">
        <!-- List<String> imgUrl 매핑 -->
        <result property="imgUrl" column="img_url" jdbcType="VARCHAR" javaType="java.util.List"
                typeHandler="com.multi.culture_link.admin.culturalProperties.model.dto.StringListTypeHandler"/>
        <!-- imgDesc 매핑 -->
        <result property="imgDesc" column="img_desc" jdbcType="VARCHAR"/>
        <!-- videoUrl 매핑 -->
        <result property="videoUrl" column="video_url" jdbcType="VARCHAR"/>
        <!-- narrationUrl 매핑 -->
        <result property="narrationUrl" column="narration_url" jdbcType="VARCHAR"/>
    </resultMap>




    <select id="listCulturalProperties" resultType="CulturalPropertiesDTO">
        SELECT *
        FROM cultural_properties
        LIMIT #{limit} OFFSET #{offset}
    </select>

    <select id="listAllCulturalProperties" resultType="CulturalPropertiesDTO">
        SELECT * FROM cultural_properties
    </select>

    <select id="getTotalCount" resultType="int">
        SELECT COUNT(*) FROM cultural_properties
    </select>

    <select id="getCulturalPropertyById" resultType="CulturalPropertiesDTO">
        SELECT * FROM cultural_properties WHERE id = #{id}
    </select>


    <insert id="addInterest" parameterType="CulturalPropertiesInterestDTO">
        INSERT INTO cultural_properties_interest (cultural_properties_id, user_id, interest_type)
        VALUES (#{culturalPropertiesId}, #{userId}, #{interestType})
        ON DUPLICATE KEY UPDATE interest_type = #{interestType};
    </insert>


    <delete id="removeInterest" parameterType="CulturalPropertiesInterestDTO">
        DELETE FROM cultural_properties_interest
        WHERE cultural_properties_id = #{culturalPropertiesId} AND user_id = #{userId};
    </delete>


    <select id="getInterest" resultType="CulturalPropertiesInterestDTO">
        SELECT c1.id AS culturalPropertiesId, c2.user_id, c2.interest_type
        FROM cultural_properties c1
        LEFT JOIN cultural_properties_interest c2 ON c1.id = c2.cultural_properties_id
        WHERE c2.user_id = #{userId}
        ORDER BY c1.created_at DESC
    </select>


</mapper>