<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.multi.culture_link.culturalProperties.model.dao.CulturalPropertiesDAO">

    <resultMap id="culturalPropertiesResultMap"
               type="com.multi.culture_link.admin.culturalProperties.model.dto.CulturalPropertiesDTO">
        <!-- List<String> imgUrl 매핑 -->
        <result property="imgUrl" column="img_url" jdbcType="VARCHAR" javaType="java.util.List"
                typeHandler="com.multi.culture_link.admin.culturalProperties.model.dto.StringListTypeHandler"/>
        <!-- imgDesc 매핑 -->
        <result property="imgDesc" column="img_desc" jdbcType="VARCHAR"/>
        <!-- videoUrl 매핑 -->
        <result property="videoUrl" column="video_url" jdbcType="VARCHAR"/>
        <!-- narrationUrl 매핑 -->
        <result property="narrationUrl" column="narration_url" jdbcType="VARCHAR"/>
    </resultMap>




    <select id="listCulturalProperties" resultType="CulturalPropertiesDTO">
        SELECT *
        FROM cultural_properties
        LIMIT #{limit} OFFSET #{offset}
    </select>

    <select id="listAllCulturalProperties" resultType="CulturalPropertiesDTO">
        SELECT * FROM cultural_properties
    </select>

    <select id="getTotalCount" resultType="int">
        SELECT COUNT(*) FROM cultural_properties
    </select>

    <select id="getCulturalPropertyById" resultType="CulturalPropertiesDTO">
        SELECT * FROM cultural_properties WHERE id = #{id}
    </select>


<!--    &lt;!&ndash; 찜 추가 또는 관심없음 추가 &ndash;&gt;-->
<!--    <insert id="addInterest" parameterType="CulturalPropertiesInterestDTO">-->
<!--        INSERT INTO cultural_properties_interest (cultural_properties_id, user_id)-->
<!--        VALUES (#{culturalPropertiesId}, #{userId});-->
<!--    </insert>-->

<!--    &lt;!&ndash; 찜 여부 확인 &ndash;&gt;-->
<!--    <select id="isLiked" parameterType="CulturalPropertiesInterestDTO" resultType="boolean">-->
<!--        SELECT COUNT(*) > 0 FROM cultural_properties_interest-->
<!--        WHERE cultural_properties_id = #{culturalPropertiesId} AND user_id = #{userId};-->
<!--    </select>-->

<!--    &lt;!&ndash; 관심없음 여부 확인 &ndash;&gt;-->
<!--    <select id="isDisliked" parameterType="CulturalPropertiesInterestDTO" resultType="boolean">-->
<!--        SELECT COUNT(*) > 0 FROM cultural_properties_interest-->
<!--        WHERE cultural_properties_id = #{culturalPropertiesId} AND user_id = #{userId};-->
<!--    </select>-->

<!--    &lt;!&ndash; 찜 또는 관심없음 삭제 &ndash;&gt;-->
<!--    <delete id="removeInterest" parameterType="CulturalPropertiesInterestDTO">-->
<!--        DELETE FROM cultural_properties_interest-->
<!--        WHERE cultural_properties_id = #{culturalPropertiesId} AND user_id = #{userId};-->
<!--    </delete>-->

<!--    &lt;!&ndash; 사용자의 찜 목록 가져오기  &ndash;&gt;-->
<!--    <select id="getInterestsByUser" parameterType="int" resultType="CulturalPropertiesInterestDTO">-->
<!--        SELECT * FROM cultural_properties_interest-->
<!--        WHERE user_id = #{userId};-->
<!--    </select>-->


</mapper>