
body{

    text-align:center;

}

#contentZone{



}

#contentZone > div{

    margin-bottom: 30px;


}




#recommendZone{

    display : flex;
    flex-flex: row;


}

#recommendZone > div{

    margin: 1%;
    width: 23%;

}


.listZone{
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
}

.card{

    margin: 1%;
    min-width: 48%;
    max-width: 48%;
    border: 0px;
}

.card-img-top {
    width: 100%;
    height: 240px;
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
    border: 0.1px solid #e3d9d9;
}

.card-title{

    font-size: 15px;
    font-weight: 600;
    color: #575555;
    margin-bottom: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 230px;
    text-align:center;

}