
#mapZone{

    margin-top: 50px;


}

#mapZone > div > div:first-child{

    display: flex;
    flex-flow: row;
    justify-content: space-between;

}


#searchZone{

    display: flex;
    flex-flow: column;
}


#searchBar{

    display: flex;
    flex-flow: row;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 10px;
}


#searchFormDiv{

    display: flex;
    flex-flow: row;
    width: 60%;

}

#searchForm{

    width: 100%;

}

#inputGroup{

    display: flex;
    width: 100%;
}

#keyword{

    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    width: 700px;

}

#searchDrop{

    display: inline-block;
    position: relative;

}

#searchDrop:hover{

    background-color:transparent;
    color: #28a745;

}




#searchDrop2{

    display: inline-block;
    position: relative;
    margin-bottom: 10px;
    margin-left: 20px;
    height: 40px;
}

#searchDrop2:hover{

    background-color:transparent;
    color: #28a745;

}

.dropdown-content {
      display: none;
      position: absolute;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 5;
      background-color: white;
      color: #786b6b;
}

.dropbtn:after {
  content: "▼";
  margin-left: 10px;
  font-size: 10px;
}


.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
    display: block;

}

.dropdown:hover .dropdown-content {
  display: block;
}

