<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.multi.culture_link.admin.festival.model.mapper.AdminFestivalMapper">


    <insert id="insertAPIFestival" parameterType="festivalDTO">

        INSERT INTO festival
        VALUES(NULL,#{regionId},#{timeId},#{festivalName},#{festivalContent},#{manageInstitution},#{hostInstitution}
        ,#{sponserInstitution}, #{tel}, #{homepageUrl}, #{detailAddress}, #{latitude}, #{longtitude}, #{place},
        #{startDate}, #{endDate}, #{season}, #{imgUrl}, CURRENT_DATE(), CURRENT_DATE()
        );

    </insert>

    <select id="findDBFestivalList" parameterType="pageDTO">

        SELECT *
        FROM (

        SELECT ROW_NUMBER() OVER(ORDER BY festival_id DESC) AS rownum, f.*
        FROM vw_festival_review_manage_data f) f2

        WHERE
        f2.rownum BETWEEN ${start} and ${end};

    </select>

    <select id="findDBFestivalCount">

        SELECT COUNT(*) FROM vw_festival_review_manage_data;

    </select>

    <delete id="deleteDBFestivalList">

        DELETE FROM festival
        WHERE festival_id = ${festivalId};

    </delete>


    <select id="findDBFestivalByFestivalId">

        SELECT * FROM vw_festival_review_manage_data
        WHERE festival_id = ${festivalId};

    </select>

    <update id="updateDBFestivalByFestival" parameterType="festivalDTO">

        UPDATE festival
        SET
        region_id = #{regionId},
        time_id = #{timeId},
        festival_name = #{festivalName},
        festival_content = #{festivalContent},
        manage_institution = #{manageInstitution},
        host_institution = #{hostInstitution},
        sponser_institution = #{sponserInstitution},
        tel = #{tel},
        homepage_url = #{homepageUrl},
        detail_address = #{detailAddress},
        latitude = #{latitude},
        longtitude = #{longtitude},
        place = #{place},
        start_date = #{startDate},
        end_date = #{endDate},
        season = #{season},
        img_url = #{imgUrl}

        WHERE festival_id = #{festivalId};

    </update>

    <select id="findDBFestivalByFestival" parameterType="festivalDTO">

        SELECT * FROM vw_festival_review_manage_data
        WHERE festival_name = #{festivalName}
        AND start_date = #{startDate}
        AND end_date = #{endDate};

    </select>


    <select id="findDBFestivalByMultiple" parameterType="festivalDTO" resultType="festivalDTO">

        SELECT *

        FROM (

        SELECT ROW_NUMBER() OVER(ORDER BY festival_id DESC) AS rownum, f3.*
        FROM (

        SELECT * FROM vw_festival_review_manage_data

        <where>

            <if test="regionId !=null and !regionId.equals('') and !regionId.equals('0') and regionId!=0">
                AND region_id = #{regionId}
            </if>


            <if test="timeId !=null and !timeId.equals('')">
                AND time_id = #{timeId}
            </if>


            <if test="festivalName !=null and !festivalName.equals('')">
                AND festival_name LIKE CONCAT ('%', #{festivalName}, '%')
            </if>


            <if test="festivalContent !=null and !festivalContent.equals('')">
                AND festival_content LIKE CONCAT ('%', #{festivalContent}, '%')
            </if>


            <if test="manageInstitution !=null and !manageInstitution.equals('')">
                AND manage_institution LIKE CONCAT ('%', #{manageInstitution}, '%')
            </if>


            <if test="hostInstitution !=null and !hostInstitution.equals('')">
                AND host_institution LIKE CONCAT ('%', #{hostInstitution}, '%')
            </if>


            <if test="sponserInstitution !=null and !sponserInstitution.equals('')">
                AND sponser_institution LIKE CONCAT ('%', #{sponserInstitution}, '%')
            </if>


            <if test="tel !=null and !tel.equals('')">
                AND tel LIKE CONCAT ('%', #{tel}, '%')
            </if>


            <if test="place !=null and !place.equals('')">
                AND place LIKE CONCAT ('%', #{place}, '%')
            </if>


            <if test="startDate !=null">
                AND start_date &gt;= #{startDate}
            </if>


            <if test="endDate !=null">
                AND end_date &lt;= #{endDate}
            </if>


            <if test="avgRate !=null and !avgRate.equals('') and !avgRate.equals('0') and avgRate!=0">
                AND avg_rate &gt;= #{avgRate}
            </if>


            <if test="season !=null and !season.equals('')">
                AND season = #{season}
            </if>

        </where>

        ) f3

        ) f2

        WHERE

        f2.rownum BETWEEN #{pageDTO.start} AND #{pageDTO.end};


    </select>


    <select id="findDBFestivalMultipleCount" parameterType="festivalDTO" resultType="int">

        SELECT COUNT(*)

        FROM (

        SELECT ROW_NUMBER() OVER(ORDER BY festival_id DESC) AS rownum, f3.*
        FROM (

        SELECT * FROM vw_festival_review_manage_data

        <where>

            <if test="regionId !=null and !regionId.equals('') and !regionId.equals('0') and regionId!=0">
                AND region_id = #{regionId}
            </if>


            <if test="timeId !=null and !timeId.equals('')">
                AND time_id = #{timeId}
            </if>


            <if test="festivalName !=null and !festivalName.equals('')">
                AND festival_name LIKE CONCAT ('%', #{festivalName}, '%')
            </if>


            <if test="festivalContent !=null and !festivalContent.equals('')">
                AND festival_content LIKE CONCAT ('%', #{festivalContent}, '%')
            </if>


            <if test="manageInstitution !=null and !manageInstitution.equals('')">
                AND manage_institution LIKE CONCAT ('%', #{manageInstitution}, '%')
            </if>


            <if test="hostInstitution !=null and !hostInstitution.equals('')">
                AND host_institution LIKE CONCAT ('%', #{hostInstitution}, '%')
            </if>


            <if test="sponserInstitution !=null and !sponserInstitution.equals('')">
                AND sponser_institution LIKE CONCAT ('%', #{sponserInstitution}, '%')
            </if>


            <if test="tel !=null and !tel.equals('')">
                AND tel LIKE CONCAT ('%', #{tel}, '%')
            </if>


            <if test="place !=null and !place.equals('')">
                AND place LIKE CONCAT ('%', #{place}, '%')
            </if>


            <if test="startDate !=null">
                AND start_date &gt;= #{startDate}
            </if>


            <if test="endDate !=null">
                AND end_date &lt;= #{endDate}
            </if>


            <if test="avgRate !=null and !avgRate.equals('') and !avgRate.equals('0') and avgRate!=0">
                AND avg_rate &gt;= #{avgRate}
            </if>


            <if test="season !=null and !season.equals('')">
                AND season = #{season}
            </if>

        </where>

        ) f3

        ) f2;


    </select>


    <select id="findKeywordByKeyword" parameterType="festivalKeywordDTO">

        SELECT * FROM festival_keyword
        WHERE festival_keyword_id = #{festivalKeywordId};


    </select>


    <insert id="insertKeywordByKeyword" parameterType="festivalKeywordDTO">

        INSERT INTO festival_keyword(festival_keyword_id, emotion_stat)
        VALUES(#{festivalKeywordId}, #{emotionStat});

    </insert>


    <select id="findKeywordMappingByKeywordMapping" parameterType="festivalContentReviewNaverKeywordMapping">

        SELECT * FROM festival_content_review_naver_keyword_mapping
        WHERE festival_id = #{festivalId}
        AND sort_code = #{sortCode}
        AND festival_keyword_id = #{festivalKeywordId};

    </select>


    <insert id="insertKeywordMappingByKeywordMapping" parameterType="festivalContentReviewNaverKeywordMapping">

        INSERT INTO festival_content_review_naver_keyword_mapping(festival_id, sort_code, festival_keyword_id, freq)
        VALUES(#{festivalId}, #{sortCode}, #{festivalKeywordId}, #{freq});

    </insert>

    <select id="findFestivalNaverUrlByNaverArticle" parameterType="naverArticleDTO" resultType="naverArticleDTO">

        SELECT * FROM festival_naver_url_mapping
        WHERE festival_id = #{festivalId}
        AND sort_code = "NA"
        AND page_url=#{originalLink};

    </select>


    <insert id="insertFestivalNaverUrlMappingByNaverArticle" parameterType="naverArticleDTO">

        INSERT INTO festival_naver_url_mapping(festival_id, sort_code, page_url)
        VALUES(#{festivalId}, "NA", #{originalLink})

    </insert>

    <update id="updateKeywordMappingByKeywordMapping" parameterType="festivalContentReviewNaverKeywordMapping">

        UPDATE festival_content_review_naver_keyword_mapping
        SET freq = #{freq}
        WHERE festival_id = #{festivalId} AND
            sort_code = #{sortCode} AND
            festival_keyword_id = #{festivalKeywordId};

    </update>

    <select id="findFestivalNaverUrlByNaverBlog" parameterType="naverBlogDTO" resultType="naverBlogDTO">

        SELECT * FROM festival_naver_url_mapping
        WHERE festival_id = #{festivalId}
        AND sort_code = "NB"
        AND page_url=#{link};

    </select>


    <insert id="insertFestivalNaverUrlMappingByNaverBlog" parameterType="naverBlogDTO">

        INSERT INTO festival_naver_url_mapping(festival_id, sort_code, page_url)
        VALUES(#{festivalId}, "NB", #{link})

    </insert>


</mapper>