<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.multi.culture_link.festival.model.mapper.FestivalMapper">


    <select id="findFestivalKeywordByFestivalId" resultType="festivalKeywordDTO">

        SELECT festival_keyword_id FROM festival_content_review_naver_keyword_mapping
        WHERE festival_id = #{festivalId};

    </select>

    <insert id="insertUserLoveFestival" parameterType="userFestivalLoveHateDTO">

        INSERT INTO user_festival_love_hate_festival_mapping(user_id, sort_code, festival_id)
        VALUES(#{userId}, #{sortCode}, #{festivalId});

    </insert>

    <select id="findUserMapByUserMap" parameterType="userFestivalLoveHateDTO">

        SELECT * from user_festival_love_hate_keyword_mapping
        WHERE user_id = #{userId} AND sort_code = #{sortCode} AND festival_keyword_id = #{festivalKeywordId};

    </select>

    <insert id="insertUserKeywordMap" parameterType="userFestivalLoveHateDTO">

        INSERT INTO user_festival_love_hate_keyword_mapping(user_id, sort_code, festival_keyword_id, festival_count)
        VALUES(#{userId}, #{sortCode}, #{festivalKeywordId}, #{festivalCount});

    </insert>

    <update id="updateUserKeywordMap" parameterType="userFestivalLoveHateDTO">

        UPDATE user_festival_love_hate_keyword_mapping
        SET festival_count = #{festivalCount}
        WHERE user_id = #{userId} AND
              sort_code = #{sortCode} AND
              festival_keyword_id = #{festivalKeywordId};

    </update>

    <select id="findLoveList" parameterType="int" resultType="int">

        SELECT festival_id FROM user_festival_love_hate_festival_mapping
        WHERE user_id = #{userId}
        AND sort_code = "L";

    </select>

    <delete id="deleteUserLoveFestival" parameterType="userFestivalLoveHateDTO">

        DELETE FROM user_festival_love_hate_festival_mapping
        WHERE user_id = #{userId}
        AND sort_code = #{sortCode}
        AND festival_id = #{festivalId};

    </delete>

    <delete id="deleteUserKeywordMap" parameterType="userFestivalLoveHateDTO">

        DELETE FROM user_festival_love_hate_keyword_mapping
        WHERE user_id = #{userId}
        AND sort_code = #{sortCode}
        AND festival_keyword_id = #{festivalKeywordId};

    </delete>

    <insert id="insertUserHateFestival">

        INSERT INTO user_festival_love_hate_festival_mapping(user_id, sort_code, festival_id)
        VALUES(#{userId}, #{sortCode}, #{festivalId});

    </insert>

    <select id="findHateList" parameterType="int" resultType="int">

        SELECT festival_id FROM user_festival_love_hate_festival_mapping
        WHERE user_id = #{userId}
        AND sort_code = "H";

    </select>

    <select id="findContentKeywordListByFestivalId" resultType="festivalContentReviewNaverKeywordMapping">

        SELECT * FROM festival_content_review_naver_keyword_mapping
        WHERE festival_id = #{festivalId}
        AND sort_code = "C";

    </select>


    <select id="findTimeIdByFestivalId" resultType="timeDTO">

        SELECT * FROM time t
        WHERE t.time_id = (
            SELECT f.time_id FROM festival f
            WHERE f.festival_id = #{festivalId}
        );

    </select>

    <select id="findFestivalReviewListByVWUserReviewDTO" resultType="vwUserReviewDTO" parameterType="vwUserReviewDTO">

        SELECT * FROM (

            SELECT ROW_NUMBER() OVER (ORDER BY festival_review_id DESC) AS rownum, urd.*
            FROM vw_user_review_data urd
        
        ) f1

        WHERE f1.festival_id = #{festivalId}
        AND f1.rownum BETWEEN #{pageDTO.start} AND #{pageDTO.end};

    </select>


    <select id="findFestivalReviewCountByVWUserReviewDTO">

        SELECT COUNT(*) FROM vw_user_review_data
        WHERE festival_id = #{festivalId};

    </select>


</mapper>