body {
    font-family: Arial, sans-serif;
    margin: 0;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    max-width: 100%;
}

.tabs {
    display: flex;
    margin-bottom: 20px;
}

.tab {
    padding: 10px 20px;
    border: none;
    background-color: #f0f0f0;
    cursor: pointer;
}

.tab.active {
    background-color: #7f7f7f;
    color: white;
}

.write-btn {
    float: right;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd !important;
}

th {
    background-color: #f2f2f2;
}

.pagination {
    margin-top: 20px;
    text-align: center;
}

.pagination button {
    padding: 5px 10px;
    margin: 0 5px;
    border: 1px solid #ddd;
    background-color: white;
    cursor: pointer;
}

/*.페이징 색깔*/
.pagination button.active {
    background: #D9D9D9;
}

.top-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.search {
    display: flex;
}

.search input {
    padding: 5px;
    width: 200px;
    margin-right: 5px;
}

.search button {
    padding: 5px 10px;
    /*background-color: #333;*/
    /*color: white;*/
    /*border: none;*/
    cursor: pointer;
}

.write-btn {
    padding: 10px 20px;
    /*background-color: #333;*/
    /*color: white;*/
    /*border: none;*/
    border-radius: 4px;
    cursor: pointer;
}

/* 검색 바 스타일 */
.search {
    margin-bottom: 20px;
}

.search form {
    display: flex;
    gap: 10px;
}

.search select,
.search input,
.search button {
    padding: 5px 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
